{% extends 'layouts/base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  {{ encore_entry_link_tags('site.provider.profile') }}
{% endblock %}

{% block title %}Личный кабинет{% endblock %}

{% block body %}
  <div class="wrap">
    <div id="profile-app"></div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('site.provider.profile') }}
{% endblock %}
