.footer {
  width: 100%;

  .footer-content {
    background-color: #f3f3f3;
    padding: 50px 0 35px;

    .footer-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;

      @media(max-width: 767px){
        flex-flow: column wrap;
        text-align: center;
       

      }
      .footer-col {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px dashed #b2dbff;
       
        &:last-child {
          flex: 0.3;
          padding-top: 20px;
          border-bottom: none;

        }
        .footer-logo{
          @media(max-width: 767px){
            display: none;
          }
        }
        .logo-mobile{
          display: none;

          @media(max-width: 767px){
            display: flex;
            justify-content: center;
           
          }

        }
        .footer-menu {
          list-style: none;
          margin-top: 10px;
          padding-left: 0px;
          display: flex;
          flex-direction: column;

          .footer-menu-link {
            text-decoration: none;
            color: #999;
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            padding: 5px 0;

            &:hover {
              text-decoration: underline;
              transition: all .3s ease-out;
            }
          }
        }

        .footer-nav {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          padding: 10px 0;

          .footer-nav-link {
            text-decoration: none;
            font-size: 16px;
            font-weight: 400;
            line-height: 36px;
            color: #436c8d;

            &:hover {
              text-decoration: underline;
              transition: all .3s ease-out;
            }

          }
        }

        .footer-social {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .footer-social-title {
            font-size: 16px;
            line-height: 36px;
            color: #3c3c3c;
            font-weight: 700;
          }
        }

        .footer-social-items {
          display: flex;
          margin-top: 0px;

          .footer-social-link {
            padding-left: 5px;
            width: 50px;
            height: 50px;

            &.footer-social-link-vk {
              background: url(../../img/024-vk.svg) no-repeat;
            }

            &.footer-social-link-ok {
              background: url(../../img/021-odnoklassniki.svg) no-repeat;
            }

            &.footer-social-link-fb {
              background: url(../../img/022-facebook.svg) no-repeat;
            }
          }
        }
      }
    }
  }

  .footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
    padding: 17px 0;

    span {
      font-size: 14px;
      line-height: 20px;
      color: #999;
      font-weight: 500;
    }
  }
}
