<div class="card-catalog">
  <div class="card-catalog-header">
    <div class="logo-company">
      <img src="/img/orig_(1).jpg" alt="">
    </div>
    <div class="title">
      <a href="{{ path('provider.view', { id: 1 }) }}">Институт экономики, математики и информационных технологий Российской академии народного хозяйства и государственной службы при Президенте Российской Федерации</a>
    </div>
  </div>
  <div class="card-catalog-content">
    <p class="text">Подготовкой специалистов для банковской сферы в Академии при Президенте РФ занимаются вот уже больше 20 лет: с начала 90-х годов, когда в стране начался бурный рост коммерческих банков. Миссия факультета — формирование управленческой элиты России, сообщества экономистов и про...</p>
  </div>
  <div class="card-catalog-footer">
    <div class="category">
      <span>Категории:</span>
      <a href="#">Маркетинг</a>
      <a href="#">Офис</a>
      <a href="#">делопроизводство</a>
      <a href="#">Управление и бизнес</a>
    </div>
    <div class="send">
      <div class="open-send-mail send-email">
        <span class="icon email-f"></span>
        Написать
      </div>
      <div class="open-add-favorites add-favorites active">
        <i class="icon-love"></i>
        <span>В избранное</span>
      </div>
    </div>
  </div>
</div>
