.page {
  background-color: #fff;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 19.5vw;
    box-shadow: 0 0 3.12vw 0 rgba(77, 84, 124, 0.09);
    border-radius: 0.6rem;

    @media (max-width: 1921px) {
      max-width: 486px;
    }

    &.lock {
      opacity: 0.8;
    }

    h3 {
      color: #636576;
      margin-top: 3rem;
      font-size: 1.5rem;
      text-align: center;
    }

    .form {
      padding: .39vw 1.638vw .975vw;

      .error {
        width: 100%;
        text-align: center;
        margin-bottom: .273vw;
        display: none;

        span {
          color: rgb(253, 52, 122)
        }

        &.active {
          display: block;
        }
      }

      .group {
        margin-bottom: 2rem;
      }

      input {
        height: calc(1.5em + 1.3rem + 2px);
        font: 400 .429vw system-ui;
        font-size: 1rem;
        line-height: 1.5;
        box-shadow: none !important;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        padding-left: 0;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        display: block;
        width: 100%;
        outline: none;
        border-bottom: 1px solid #e2e5ec;

        &:focus {
          border-bottom: 1px solid #5d78ff;
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-top: 3rem;

        button {
          padding: 1rem 3rem;
          color: #fff;
          font-size: 1.2rem;
          font-weight: 500;
          box-shadow: 0 .156vw .624vw 0 rgba(93, 120, 255, 0.15);
          border-radius: 2rem;
          transition: all 0.3s ease 0s;
          background-color: #5d78ff;
          border-color: #5d78ff;
          vertical-align: middle;
          cursor: pointer;

          &:hover:enabled {
            box-shadow: 0 .351vw .624vw 0 rgba(93, 120, 255, 0.25) !important;
            background-color: #3758ff;
            border-color: #2a4eff;
          }

          &:disabled {
            cursor: default;
          }
        }
      }
    }
  }
}
