.organizations {
    .calendar {
        max-width: 240px;
        border-radius: 20px;
        box-shadow: 0 5px 15px 0 rgba(5, 26, 47, 0.08);
        margin-bottom: 20px;
        margin-left: 15px;
        &-header {
            background-color: #e9f4fd;
            display: flex;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            justify-content: space-between;
            padding: 10px;
            button {
                background-color: transparent;
                border: none;
            }
        }
        &-body {
            padding: 15px;
            table {
                width: 100%;
                thead {
                    border-bottom: 1px solid #e9f4fd;
                    padding-bottom: 10px;
                    tr {
                        th {
                            font-size: 16px;
                            line-height: 1;
                            text-align: center;
                            color: #cccccc;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            margin: 2px;
                            padding: 5px;
                            text-align: center;
                            cursor: pointer;
                            &.current {
                                color: #1d71b1;
                            }
                            &.active {
                                border-radius: 9px;
                                color: #1d71b1;
                                background-color: #e9f4fd;
                            }
                        }
                    }
                }
            }
        }
    }

    .mode {
        .radio-input {
            @media (min-width: 320px) and (max-width: 767px) {
                flex-wrap: wrap;
            }
        }
    }
    .days {
        @media (min-width: 320px) and (max-width: 767px) {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        span {
            cursor: pointer;
            padding: 5px;
            border-radius: 10px;
            box-shadow: 0 0 8px 0 rgba(5, 26, 47, 0.15);
            background-color: #fff;
            &.active {
                background-color: #e9f4fd;
                color: #1d71b1;
            }
        }
        margin-right: 10px;
        margin-left: 10px;
    }
}
