.breadcrumb-wrap {
  display: flex;
  justify-content: flex-end;
}

.breadcrumb {
  display: inline-flex;
  padding: .75rem 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;

  .item {
    a {
      text-decoration: none;
      color: #007bff;
    }
  }

  .item.active {
    color: #6c757d;
  }

  .item + .item {
    padding-left: .5rem;
  }

  .item + .item:before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
  }

  .item + .item:hover::before {
    text-decoration: underline;
  }

  .item + .item:hover::before {
    text-decoration: none;
  }
}
