.settings {
  .result-title {
    @media (min-width: 320px) and (max-width: 1023px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .container-0 {
    div {
      padding-right: 0;

      &:first-child {
        @media (min-width: 1024px) {
          padding-left: 0;
        }
      }
    }
  }
}
