<div class="card-blog">
  <div class="card-container">
    <div class="card-img">
      <img src="/img/card-image.jpg" alt="">
      <div class="bottom">
        <div class="views">
          <span class="icon view"></span>
          253
        </div>
        <div class="comments">
          <span class="icon comment"></span>
          <a href="#">25 комментариев</a>
        </div>
      </div>
    </div>
    <div class="card-content">
      <div class="top">
        <div class="date">
          <span class="icon calendar"></span>
          19.02.2019
        </div>
        <div class="time-read">
          <span class="icon read"></span>
          <span class="text">Время чтения:</span> 2 минуты
        </div>
      </div>
      <h4 class="title">Семейное образование: с чего начинать родителям обучение ребенка «дома»</h4>
      <p class="description">
        Для того чтобы составить инструкцию для родителей, решивших перевести ребенка на семейное обучение и не знающих с чего начать, «Учеба.ру» поговорила с ведущим эксперт...
        <a href="{{ path('blog.view', { slug: 'slug' }) }}">Читать далее</a>
      </p>
      <div class="mobile-bottom">
        <div class="views">
          <span class="icon view"></span>
          253
        </div>
        <div class="comments">
          <span class="icon comment not"></span>
          <a href="#">Нет комментариев</a>
        </div>
      </div>
      <div class="bottom">
        <div class="status-block">
          <span class="icon status no"></span>
          Опубликована
        </div>
        <div class="rating">
          <div class="minus-block">
            <span class="icon minus"></span>
            5
          </div>
          <div class="plus-block">
            <span class="icon plus"></span>
            26
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
