<div class="mobile-filter">
  <div id="open-mobile-filter" class="mobile-filter-header">
    Фильтр поиска
    <i class="icon-more"></i>
  </div>
</div>

<form class="form-filter form-with-mobile" method="get">
  <div class="input-search-gray">
    <input class="input search" type="text" name="q" value="{{ app.request.get('q') }}" placeholder="Поиск по блогу">
    <i class="icon-search"></i>
  </div>
  <div>
    <div class="custom-select" data-placeholder="Выберите категорию" data-form-id="blog-filter">
      <input name="category" value="">
      <input type="submit">
      <div class="selected-option">
        <span class="selected-option-value"></span>
        <span class="icon"></span>
      </div>
      <div class="options-container">
        <div class="options">
          {% for category in getRootCategories() %}
            <div data-value="{{ category.id }}" class="option {{ app.request.get('category') == category.id ? 'active' : '' }}">
              {{ category.name }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</form>
