<div class="compare__table-column">
  <div class="compare__table-header">
    <span class="close"></span>
    <a href="#">Маркетинг (многопрофильный бакалавриат «Маркетинг
      и управление продажами»)</a>
    <div class="description">
      <div class="price">
        <div class="old">148 000 р.</div>
        <div class="correct">124 000 р.</div>
      </div>
      <div class="button-container">
        <button class="button-blue">Заказать</button>
      </div>
    </div>
  </div>
  <div class="compare__table-category">
    <div class="category-link">
      <span>Маркетинг</span>
      <span>Офис, делопроизводство</span>
      <span>Управление и бизнес</span>
    </div>
  </div>
  <div class="compare__table-annotation">
    <button>Подробнее</button>
    <p class="annotation-text">
      Менеджмент — направление, объединившее в себе несколько старых специальностей, которые стали соответствующими
      профилями. Будущие менеджеры изучают экономические, управленческие, социальные и гуманитарные дисциплины.
    </p>
  </div>
  <div class="compare__table-program">
    <p>Институт пути, строительства и сооружений образован в 1998 году путем слияния трех факультетов МИИТ строительного
      профиля.</p>
    <div class="hidden">
      <p>- Это факультеты «Строительство железных дорог»,</p>
      <p>- «Мосты и тоннели», на которых с момента образования МИИТ велась подготовка инженеров-путейцев и мостовиков, и
        факультет «Промышленное и гражданское строительство»,</p>
      <p>- Созданный в 50-е годы прошлого века в связи с бурным ростом жилищного строительства.</p>
    </div>
    <button>Подробнее</button>
  </div>
  <div class="compare__table-users">
    <div class="photo-row">
      <img src="/img/photo.jpg" alt="">
      <span>Ермакова Елизавета Васильевна</span>
    </div>
    <div class="photo-row">
      <img src="/img/photo.jpg" alt="">
      <span>Ермакова Елизавета Васильевна</span>
    </div>
  </div>
  <div class="compare__table-duration">
    <p>170 ак.ч.</p>
  </div>
  <div class="compare__table-design">
    <p>20% теории, 80% практики</p>
  </div>
  <div class="compare__table-provider">
    <div class="photo-row">
      <img src="/img/orig_(1).jpg" alt="">
      <a href="#">Институт системного анализа и управления Государственного университета «Дубна»</a>
    </div>
    <div class="photo-row">
      <img src="/img/orig_(1).jpg" alt="">
      <a href="#">Колледж Архитектуры, Дизайна и Реинжиниринга № 26</a>
    </div>
  </div>
  <div class="compare__table-audience">
    <p>1. Дети до 16 лет.</p>
  </div>
  <div class="compare__table-document">
    <div class="photo-row cert">
      <img src="/img/cert.jpg" alt="">
      <span>Сертификат</span>
    </div>
  </div>
  <div class="compare__table-date">
    <p>В любое время</p>
  </div>
  <div class="compare__table-mode">
    <p>Занятия по: ВТ, ЧТ, СБ,
      <br/>время проведения: с 11:00 до 15:00
    </p>
  </div>
  <div class="compare__table-course">
    <p>Книги, методические материалы, обеды</p>
  </div>
  <div class="compare__table-sales">
    <p>Для юридических лиц - 10%
      (18 700 руб.)</p>
  </div>
  <div class="compare__table-photo">
    <div class="photo">
      <img src="/img/photo.jpg" alt="">
      <img src="/img/photo.jpg" alt="">
    </div>
    <a href="#" class="more">Смотреть все в карточке программы</a>
  </div>
  <div class="compare__table-information">
    <p>Программа обучения представляет из себя синтез математических, естественно-научных и профессиональных
      дисциплин. </p>
  </div>
</div>
