{% extends 'layouts/base.html.twig' %}

{% set title = 'FAQ' %}

{% block body %}
  <div class="main_faq mt-0">
    <h2 class="title">FAQ</h2>
    <div class="box">
      <div class="box-sidebar show faq">
        <div class="container-0">
          <div class="col-lg-12 col-sm-4 pr-0">
            <div class="card-shadow">
              <div class="head">
                <h4>Вопросы пользователей</h4>
                <div class="input-search-gray">
                  <input class="input search" type="text" placeholder="Поиск по вопросам">
                  <i class="icon-search"></i>
                </div>
              </div>
              <div class="scroll-block faq-menu">
                <ul>
                  <li>Как войти в личный кабинет?</li>
                  <li class="active">Какие данные я могу увидеть в личном кабинете?</li>
                  <li>Как прослушать звонки / записи?</li>
                  <li>Где я могу поменять информацию о компании?</li>
                  <li>Как загрузить или изменить прайс-лист?</li>
                  <li>Где я могу посмотреть обратную связь?</li>
                  <li>Можно ли загрузить видео на SkillGrad?</li>
                  <li>Могу ли я сам выгрузить звонки только с SkillGrad (без карт)?</li>
                  <li>Можно ли самостоятельно менять информацию на странице?</li>
                  <li>Как поменять фото на SkillGrad?</li>
                  <li>Как получить пароль к личному кабинету?</li>
                  <li>Почему в прайсе в личном кабинете написано, что у меня не заполнены поля?</li>
                  <li>Почему в прайсе в личном кабинете написано, что у меня не заполнены поля?</li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="box-content show faq">
        <div class="container-0">
          <div class="col-lg-12">
            <h5 class="result-title">Какие данные я могу увидеть в личном кабинете?</h5>
            <p class="text">
              В личном кабинете есть вся необходимая информация о странице организации на Зуне, о статистике
              продвижения, о новых отзывах. В личном кабинете вы можете отвечать на отзывы, а также подключать
              дополнительные продукты.
              Личный кабинет состоит из нескольких разделов, которые перечислены в левой части страницы.
            </p>
            <p class="text">
              <strong>1. «Информация»</strong> — здесь вы можете отредактировать основную информацию на странице
              организации:
            </p>
            <ul class="round">
              <li>контактные данные,</li>
              <li>описание,</li>
              <li>социальные сети,</li>
              <li>услуги,</li>
              <li>фото,</li>
              <li>прайс-лист,</li>
              <li>акции,</li>
              <li>специалисты.</li>
            </ul>
            <p class="text">
              <strong>2. «Площадки»</strong> — инструмент, который помогает привлечь внимание новых клиентов к
              странице вашей организации на картах, в справочниках и каталогах.
            </p>
            <p class="text">
              Подробнее о том, как подключить «Площадки», читайте в инструкции.
            </p>
            <p class="text">
              <strong>3.«Репутация»</strong> — инструмент, который помогает быстро собрать настоящие отзывы реальных
              клиентов и разместить все положительные отзывы на популярных площадках. В этом разделе вы можете
              подключить инструмент и следить за статистикой размещения отзывов.
            </p>
            <p class="text">
              <strong>4. «Статистика»</strong> — здесь вы можете смотреть всю аналитику по продвижению вашей
              страницы на Зуне, а именно:
            </p>
            <ul class="round">
              <li>смотреть статистику по показам, звонкам, попыткам записи в разделе «Сводка»;</li>
              <li>прослушивать звонки в разделах «Звонки» и «Записи»;</li>
              <li>узнавать о результатах сбора обратной связи от ваших посетителей в разделе «Клиенты».</li>
            </ul>
            <p class="text"><strong>5. «Отзывы»</strong> — здесь собраны отзывы ваших клиентов. Вы можете отвечать
              на них из личного кабинета. На вашей странице ответы на отзывы будут помечены как «официальный
              комментарий заведения». Также вы можете встроить виджет с отзывами с Зуна на ваш сайт.
            </p>
            <p class="text"><strong>6. «Продвижение»</strong> — раздел, в котором вы можете узнать о премиальном
              размещении, посмотреть отзывы партнеров Зуна и подключить премиум-пакет.
            </p>
            <p class="text"><strong>7. «Настройки»</strong> — здесь вы можете настроить уведомления, которые
              приходят от Зуна.
            </p>
            <p class="text"><strong>8. «Помощь»</strong> — в этом разделе вы можете связаться со службой поддержки
              Зуна, задать вопрос, получить на него ответ, отправить запрос или обращение. Также вы можете
              ознакомиться с разделом «База знаний», в котором уже собраны многие ответы на вопросы.
            </p>
            <hr/>
          </div>
        </div>
        <div class="container-0 j-c-center">
          <div class="col-lg-6 col-sm-4">
            <div class="rating-block d-flex flex-d-column al-i-c">
              <h4>Статья была полезна?</h4>
              <div class="rating mt-10 mb-20">
                <div class="minus-block">
                  <span class="icon minus"></span>
                  5
                </div>
                <div class="plus-block">
                  <span class="icon plus"></span>
                  26
                </div>
              </div>
              <p class="text">
                Не нашли ответа? <span class="feedback-form-modal-btn">Напишите нам</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
