{% extends 'layouts/base.html.twig' %}

{% set title = 'Для провайдеров обучения' %}

{% block body %}
    <div class="container">
      <div class="d-f w-100 j-c-center">
        <div class="breadcrumbs">
          <ul>
            <li><a href="{{ path('site.index') }}">Главная</a></li>
            <li><a class="active" href="#">{{ title }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="main_learn mt-0">
          <h2 class="title">{{ title }}</h2>
          <div class="container-0 learn">
            <div class="col-lg-3 col-sm-4">
              <div class="learn-icon">
                <img src="/img/svg/client.svg" alt="">
              </div>
              <p class="learn-text">Доступ к большому количеству корпоративных заказчиков и физических лиц.
                Новый канал продвижения ваших услуг.
              </p>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="learn-icon">
                <img src="/img/svg/003-case-study.svg" alt="">
              </div>
              <p class="learn-text">Получение новых заявок
                на обучение.
                Совершенно бесплатно!
                Невероятно, но это так!
              </p>
            </div>
            <div class="col-lg-3 col-sm-4 border-right-3">
              <div class="learn-icon">
                <img src="/img/svg/002-feedback.svg" alt="">
              </div>
              <p class="learn-text">Возможность развивать репутацию учебного заведения, формировать рейтинг
                образовательных программ.

              </p>
            </div>
            <div class="col-lg-3 col-sm-4 no-border">
              <div class="learn-icon">
                <img src="/img/svg/smartphone.svg" alt="">
              </div>
              <p class="learn-text">Возможность получать отзывы от учеников
                и отвечать на них в своем личном кабинете на SkillGrad.
              </p>
            </div>
          </div>
          <div class="container-0 learn j-c-center">
            <div class="col-lg-3 col-sm-4">
              <div class="learn-icon">
                <img src="/img/svg/stats.svg" alt="">
              </div>
              <p class="learn-text">Возможность качественного описания и презентации программ обучения.
                Как результат - хорошая индексация на нашем сайте,
                в поисковых системах и ещё больше заявок.
              </p>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="learn-icon">
                <img src="/img/svg/chat.svg" alt="">
              </div>
              <p class="learn-text">Чат в личном кабинете,
                где вы сможете отвечать
                на вопросы об учебном заведении или программам обучения, которые вы будете получать от действующих
                учеников или потенциальных клиентов
              </p>
            </div>
            <div class="col-lg-3 col-sm-4">
              <div class="learn-icon">
                <img src="/img/svg/feedback.svg" alt="">
              </div>
              <p class="learn-text">За счёт встроенного алгоритма описания программы обучения,
                её рейтинга, отзывов,
                вы сможете корректно сформировать ожидания учащихся и повысить
                их удовлетворённость
              </p>
            </div>
          </div>
          <div class="container-0 j-c-center mt-20">
            <div class="col-lg-4 col-sm-4 col-md-6">
              <span class="register-provider-btn button-red">Регистрация провайдера</span>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
