.container-0 {
  div {
    padding-right: 0;

    &:first-child {
      @media (min-width: 1024px) {
        padding-left: 0;
      }
    }
  }
}

.logo-organization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  .buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;

    @media (min-width: 320px) and (max-width: 1023px) {
      margin-bottom: 20px;
    }

    button {
      height: 25px;
    }
  }

  img {
    min-height: 145px;
    object-fit: contain;
  }
}

.button-block {
  justify-content: flex-end;
}
