<div class="card">
  <span data-tippy-content="Провайдер готов предоставить дополнительную скидку при заказе через наш сайт" class="icon discount"></span>
  <div class="card__header">
    <div class="card__header-icon">
      <img src="/img/head__icon.png" alt="">
    </div>
    <span class="card__header-title">Центр компьютерного обучения
													«Специалист» при МГТУ им. Н.Э. Баумана</span>
  </div>
  <div class="card__body">
    <a href="{{ path('program.view', { slug: 'program' }) }}" class="card__body-title">Прикладная математика и экономика (совместно с МФТИ)</a>
    <div class="card__body-description">
      Как провести анализ и выявить проблемы существующей системы вознаграждения персонала (проблемы в управлении и мотивации сотрудников. Главная задача: подготовка квалифицированных специалистов, способных вести проектирование и разработку новых экономических прикладных про... и информационных систем, осуще... внедрение в эксплуатацию и развитие существующих систем в бизнесе и государственном управлении. Области применения знаний — экономика, энергетика, государственное управление, страхование, банковская и инвестиционная деятельность.
    </div>
  </div>
  <div class="card__footer">
    <div class="col-lg-7 col-md-6 col-sm-4 no-gutter">
      <div class="card__footer-info">
        <div class="info">
          <i class="icon-book"></i>
          <span class="info-text">Очная, заочная, <br/>дистанционная</span>
        </div>
        <div class="time">
          <i class="icon-clock"></i>
          <span class="info-text">5 месяцев</span>
        </div>
        <div class="star">
          <i class="icon-star"></i>
          <span class="info-text">4.2</span>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-4 d-flex j-c-space-between no-gutter">
      <div class="card__footer-price">
        <span class="price-old">148 000 р.</span>
        <span class="price-new">124 000 р.</span>
      </div>
      <div class="card__footer-button">
        <button class="button-blue">
          Заказать
        </button>
      </div>
      <div class="card__footer-add">
                        <span class="tooltip">
                        	Добавить в сравнение
                        </span>
        <i class="icon-add-file"></i>
      </div>
    </div>
  </div>
</div>
