<form class="form-filter" action="#">
  <div class="input-search-gray">
    <input class="input search" type="text" placeholder="Поиск по каталогу">
    <i class="icon-search"></i>
  </div>
  <div class="category">
    <span class="filter-title">По категории:</span>
    <div class="select custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select__trigger"><span>Природопользование и эк...</span>
          <div class="arrow"></div>
        </div>
        <div class="custom-options scrollbar">
          <span class="custom-option category-option selected" data-value="tesla">Категория 1</span>
          <span class="custom-option category-option" data-value="volvo">Категория 2</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 3</span>
          <span class="custom-option category-option" data-value="volvo">Категория 4</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 5</span>
          <span class="custom-option category-option" data-value="volvo">Категория 6</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 7</span>
          <span class="custom-option category-option" data-value="volvo">Категория 8</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 9</span>
        </div>
      </div>
    </div>
    <div class="select custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select__trigger"><span>Выберите подкатегорию</span>
          <div class="arrow"></div>
        </div>
        <div class="custom-options">
          <span class="custom-option category-option selected" data-value="tesla">Категория 1</span>
          <span class="custom-option category-option" data-value="volvo">Категория 2</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 3</span>
          <span class="custom-option category-option" data-value="volvo">Категория 4</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 5</span>
          <span class="custom-option category-option" data-value="volvo">Категория 6</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 7</span>
          <span class="custom-option category-option" data-value="volvo">Категория 8</span>
          <span class="custom-option category-option" data-value="mercedes">Категория 9</span>
        </div>
      </div>
    </div>
  </div>
  <div class="rating">
    <span class="filter-title">По рейтингу программы:</span>
    <div class="select custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select__trigger"><span>Выберите рейтинг</span>
          <div class="arrow"></div>
        </div>
        <div class="custom-options scrollbar">
          <span class="custom-option category-option selected" data-value="tesla">Tesla</span>
          <span class="custom-option category-option" data-value="volvo">Volvo</span>
          <span class="custom-option category-option" data-value="mercedes">Mercedes</span>
        </div>
      </div>
    </div>
  </div>
  <div class="format">
    <span class="filter-title">По формату обучения:</span>
    <label class="circle-checkbox">
      Вебинар
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="circle-checkbox">
      Онлайн курс
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="circle-checkbox">
      Очно
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="circle-checkbox">
      Очно-заочно
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="circle-checkbox">
      Заочно
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="circle-checkbox">
      Смешанная форма
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="practice">
    <span class="filter-title">Теория и практика:</span>
    <div class="practice-container">
      Практики не менее <input class="input" value="100" type="number" min="0" max="100" /> %
    </div>
  </div>
  <div class="level">
    <span class="filter-title">Уровень:</span>
    <div class="select custom-select-wrapper">
      <div class="custom-select">
        <div class="custom-select__trigger"><span>Выберите уровень</span>
          <div class="arrow"></div>
        </div>
        <div class="custom-options scrollbar">
          <span class="custom-option category-option selected" data-value="tesla">Уровень 1</span>
          <span class="custom-option category-option selected" data-value="tesla">Уровень 2</span>
          <span class="custom-option category-option selected" data-value="tesla">Уровень 3</span>
        </div>
      </div>
    </div>
  </div>
  <div class="price">
    <span class="filter-title">Стоимость:</span>
    <div class="range-container">
      <div class="range-desc">
        <span>от</span>
        <span>до</span>
      </div>
      <div class="range"></div>
      <div class="range-rule">
        <input class="input from" min="0" type="number">
        <input class="input before" min="0" type="number">
      </div>
    </div>
  </div>
  <div class="city">
    <span class="filter-title">Выбор города:</span>
    <div class="current-city">Ваш город:  <strong>Москва</strong></div>
    <a href="javascript:void(0)" class="open-change-city link-city">Изменить город</a>
  </div>
  <div class="button-container">
    <button class="button-red">Сохранить</button>
    <a href="#">Сбросить фильтр</a>
  </div>
</form>
