.sidebar {
  flex: 1 1 35%;
  overflow: hidden;
  border-right: 1px solid #cccccc;
  padding-bottom: 20px;

  @media (min-width: 320px) and (max-width: 1023px) {
    display: none;
    border: none;
  }

  .search {
    padding: 20px 20px 0;
  }

  .users {
    max-height: 90%;
    overflow: scroll;
  }
}
