.menu-container {
  margin-top: 30px;

  path {
    color: #434d6b;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    padding: 5px 20px;
    align-items: center;

    .active {
      background: #1f2433;
      color: #fff;
      text-decoration: none;

      .point span {
        background-color: #ee733a;
      }

      .text {
        color: #fff;
      }

      .fas {
        background-color: #ee733a;
      }

      .menu-arrow {
        color: #ee733a;
      }

      path {
        color: #ee733a;
      }
    }

    &:hover {
      background: #1f2433;
      color: #fff;
      text-decoration: none;

      .point span {
        background-color: #ee733a;
      }

      .text {
        color: #fff;
      }

      .fas {
        background-color: #ee733a;
      }

      .menu-arrow {
        color: #ee733a;
      }

      path {
        color: #ee733a;
      }
    }
  }

  ul ul .item {
    padding-left: 50px;
  }

  * {
    margin: 0;
    padding: 0;
    color: #989eb3;
    font-weight: 400;
  }

  ul {
    list-style-type: none;
  }

  .text {
    display: block;
    padding: .75em 1em;
  }

  .point span {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    vertical-align: middle;
    display: inline-block;
    background-color: #687393;
  }
}

.menu-arrow-right {
  margin-left: auto;
  font-size: 0.7rem;
  line-height: 0;
}

.menu-arrow-right:before {
  content: "\25bc";
  transform: rotateZ(90deg);
  transition: all 0.3s ease;
}
