<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  {% block stylesheets %}
    {{ encore_entry_link_tags('site.layout') }}
  {% endblock %}
</head>
<body data-auth="{{ app.user is not null ? 'true' : 'false' }}">

{% include 'components/header/page.index.html.twig' %}

<main class="content">
  {% block body %}
  {% endblock %}
</main>

{% include 'components/footer/index.html.twig' %}

{% block javascripts %}
  {{ encore_entry_script_tags('site.layout') }}
{% endblock %}
</body>
</html>
