.alert {
  margin-bottom: 10px;

  .error {
    color: #f92e25;
  }

  .success {
    color: #059e17;
  }
}

.inputs-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: 320px) and (max-width: 1023px) {
    grid-template-columns: 1fr;
  }

  input {
    &:nth-child(1) {
      grid-column: 1 / 3;

      @media (min-width: 320px) and (max-width: 1023px) {
        grid-column: 1 / -1;
      }
    }
  }
}
