<nav class="scroll-block dropdown categories-menu">
  <div class="menu-container">
    <span class="back-drop">
      <i class="icon-left"></i>
    </span>
    <span class="close-drop">
      <i class="icon-cancel"></i>
    </span>

    <ul class="dropdown__menu">
      {% for menuItem in getMenuItems() %}
        <li class="dropdown__menu-item">
          <a class="main-category-link" href="{{ path('app.search', {category: menuItem.id}) }}">
            {{ menuItem.name }}
          </a>
          <span class="dropdown__menu-icon"></span>
          <ul class="dropdown__right">
            {% for childMenuItem in menuItem.childCategories %}
              <li>
                <a href="{{ path('app.search', {category: menuItem.id ,subcategory: childMenuItem.id}) }}">
                  {{ childMenuItem.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
