<ul class="dropdown__menu">
  {% for menuItem in getMenuItems() %}
    <li data-hoverabl class="dropdown__menu-item">
      <a href="#">{{ menuItem.name }}</a>
      <span class="dropdown__menu-icon"></span>
      <ul class="dropdown__right">
        {% for childMenuItem in menuItem.childCategories %}
          <li>
            <a href="#">{{ childMenuItem.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
</ul>
