<ul class="dropdown__menu">
  <li data-hoverabl class="dropdown__menu-item">
    <a href="#">Архитектура и строительство</a>
    <span class="dropdown__menu-icon"></span>
    <ul class="dropdown__right">
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
    </ul>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Безопасность и военное дело
    </a>
    <span class="dropdown__menu-icon"></span>
    <ul class="dropdown__right">
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
    </ul>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Гуманитарные науки
    </a>
    <span class="dropdown__menu-icon"></span>
    <ul class="dropdown__right">
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
    </ul>
  </li>
  <li class="dropdown__menu-item">
    <a href="#">
      Дизайн
    </a>
    <span class="dropdown__menu-icon"></span>
    <ul class="dropdown__right">
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
      <li>
        <a href="#">Антропология и этнология</a>
      </li>
    </ul>
  </li>
  <li class="dropdown__menu-item">
    <a href="#">
      Безопасность и военное дело
    </a><span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item">
    <a href="#">
      Информационные технологии
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Искусство и творчество
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      История и культурология
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Кулинария и гастрономия
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Маркетинг
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Медиа и коммуникации
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Медицина
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Мода и красота
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Науки о земле
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Офис, делопроизводство
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Педагогика и психология
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Политика и общество
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Право
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Природопользование и экология
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Развитие личности
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Спорт и фитнес
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Сфера услуг
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Театр, кино и ТВ
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Техника и технологии
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Транспорт
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Управление и бизнес
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
  <li class="dropdown__menu-item"><a href="#">
      Физико-математические науки
    </a>
    <span class="dropdown__menu-icon"></span>
  </li>
</ul>
