<div class="header__top">
  <div class="container w-sm-100 w-md-100">
    <div class="col-sm-4">
      <div class="logo-mobile">
        <a href="/">
          <img src="/img/logo_mobile.png" alt="">
        </a>
      </div>
    </div>
    <div class="col-lg-8 col-sm-2 col-md-10">
      <div class="header__top-left">
        <div class="logo-container">
          <a href="/">
            <img class="logo-img" src="/img/logo.svg" alt="logo">
          </a>
        </div>
        <div class="button__menu">
          <div class="open-drop d-flex">
            <span class="button__menu-icon">
              <i class="icon-menu"></i>
            </span>
            <span class="button__menu-text">Категории</span>
          </div>
          <nav data-simplebar-direction='rtl' class="scroll-block dropdown">
            <div class="wrapper">
              <span class="back-drop">
                <i class="icon-left"></i>
              </span>
              <span class="close-drop">
                <i class="icon-cancel"></i>
              </span>
              <div class="mobile-header">
                <h5>Категории</h5>
              </div>
              {% include 'components/header/blocks/categories.html.twig' %}
            </div>
          </nav>
        </div>

        <div class="open-change-city button-container">
          <div class="button-icon open-city-selector-modal-btn">
            <i class="icon-place"></i>
          </div>
          <div class="button-info">
            <span class="button-text">Ваш город:</span>
            <span class="button-link open-city-selector-modal-btn">Нижний Новгород</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-2 col-md-2">

      <div class="header__top-right">
        {% if app.user is not null %}
          <div class="header__top-right">
            <div class="button-container heart">
              <a href="{{ path('app.favorite') }}">
                <div class="button-icon">
                  <i class="icon-heart"></i>
                  <span class="button-notification user-favorite-count">{{ app.user.favoriteCount }}</span>
                </div>
              </a>
            </div>
            <div class="button-container">
              <a href="{{ path('app.compare') }}">
                <div class="button-icon">
                  <i class="icon-add-file"></i>
                  <span class="button-notification">12</span>
                </div>
              </a>
            </div>
            <div class="button-container auth">
              <div class="button-icon">
                <i class="icon-login"></i>
              </div>
              <div class="button-info auth-text">
                <span class="button-text">Добро пожаловать,</span>
                <span class="button-text">Иванов Алесей</span>
              </div>
              <div class="dropdown">
                <ul class="student">
                  <li><i class="icon-gear"></i>Настройки профиля</li>
                  <li><i class="icon-email1"></i>Сообщения <span class="notification">10</span></li>
                  <li><i class="icon-student"></i>Мое обучение</li>
                  <li><i class="icon-out"></i>Выйти</li>
                </ul>
                <ul class="provider">
                  <li><i class="icon-gear"></i><a href="#">Настройки профиля</a></li>
                  <li><i class="icon-web-development"></i><a href="#">Программы обучения</a></li>
                  <li><i class="icon-contract"></i><a href="#">Публикации</a></li>
                  <li><i class="icon-email1"></i><a href="#">Сообщения <span class="notification">10</span></a></li>
                  <li><i class="icon-google"></i><a href="#">Платные услуги, документы</a></li>
                  <li><i class="icon-out"></i><a href="#">Выйти</a></li>
                </ul>
              </div>
            </div>
          </div>
        {% else %}
          <div class="button-container">
            <a href="{{ path('app.compare') }}">
              <div class="button-icon">
                <i class="icon-add-file"></i>
                <span class="button-notification">12</span>
              </div>
            </a>
          </div>
          <div class="button-container">
            <div class="open-auth button-icon open-login-modal-btn">
              <i class="icon-arrow"></i>
            </div>
            <div class="button-info auth">
              <span class="open-auth button-text open-login-modal-btn">Вход</span>
              <span class="open-type-account button-text open-register-modal-btn">Регистрация</span>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
