.portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0 0 .597vw 0 rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  margin-bottom: .78vw;
  border-radius: .156vw;

  &:not(:first-child) {
    margin-left: 1vw;
  }

  .body {
    display: flex;
    flex-direction: column;
    padding: .975vw;
    border-radius: .156vw;
  }

  &.w-50 {
    width: 50%;
  }
}