.portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 4px;

  .body {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
  }

  &.w-50 {
    width: 50%;
  }
}