.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  background-color: rgba(22, 22, 22, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity .15s ease-out;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  .modal {
    position: absolute;
    background-color: #fff;

    .body {
      position: relative;
      padding: 44px 30px 50px 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .title {
        margin-bottom: 23px;
        text-align: center;

        h6 {
          color: #000;
          font-size: 26px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }

    .close {
      position: absolute;
      bottom: 100%;
      right: 0;
      cursor: pointer;

      img {
        max-width: 25px;
      }
    }
  }
}
