@import "settings";
@import "chat";
@import "programs";
@import "paginator";

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-menu {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(243, 247, 248);
    padding: 1vw 2vw;
    font-weight: 700;

    &-item {
      padding: .5vw 1vw;

      a {
        text-decoration: none;
        color: rgb(54, 53, 54);

        &:hover {
          color: rgb(244, 100, 68);
        }
      }

      &.active {
        background-color: rgb(246, 87, 47);

        a {
          color: rgb(251, 241, 239);

          &:hover {
            color: rgb(251, 241, 239);
          }
        }
      }
    }
  }

  &-content {
    width: 100%;
  }
}
