.programs {
  margin-top: 20px;

  &-menu {
    display: grid;

    &.programs {
      grid-template-columns: 24fr 1fr 9fr;
    }

    &.request {

    }
  }

  &-menu-tabs {
    border-bottom: 1px solid rgb(214, 215, 216);
    display: flex;

    & .back-btn {
      width: 20%;
    }

    & .title {
      width: 80%;
      font-size: 20px;
      font-weight: 900;
    }
  }

  &-menu-tab {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: -1px;
    cursor: pointer;
    border-bottom: 2px solid;
    border-color: transparent;

    &.active {
      cursor: default;
      color: rgb(246, 87, 47);
      border-color: rgb(246, 87, 47);
    }
  }
}
