.settings {
  &-profile {
    margin-top: 15px;

    &-row {
      &-top {
        margin-bottom: 15px;
        display: grid;
        grid-template-columns: 21fr 1fr 10fr 1fr 10fr;
      }

      &-bottom {
        display: grid;
        grid-template-columns: 10fr 1fr 10fr 1fr 10fr 1fr 10fr;
      }
    }
  }

  &-organization {
    display: grid;
    grid-template-columns: 10fr 21fr 11fr;

    &-description {
      margin-top: 15px;
    }

    &-logo {
      padding-right: 47px;

      &-buttons {
        display: flex;
        justify-content: space-between;
      }

      img {
        width: 100%;
      }
    }
  }

  &-categories {
    display: grid;
    grid-template-columns: 10fr 1fr 10fr 1fr 10fr 1fr 10fr;
  }
}

.upload-btn {
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(107, 180, 255);
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgb(150, 203, 255);
  }
}

.upload-btn-remove {
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(252, 88, 79);
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  &:disabled {
    background-color: rgb(230, 231, 232);
  }
}
