<div class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="footer-row">
       <a class="logo-mobile" href="{{ path('site.index') }}">
            <img src="/img/logo_mobile.png" alt="logo"/>
          </a>
        <div class="footer-col">
          <a class="footer-logo" href="{{  path('site.index') }}">
            <img src="/img/logo.png" alt="Footer-logo"/>
          </a>
        
          <div class="footer-menu">
            <a class="footer-menu-link" href="#">Пользовательское соглашение</a>
            <a class="footer-menu-link" href="#">Соглашение о конфиденциальности</a>
            <a class="footer-menu-link" href="#">Оферта</a>
          </div>
        </div>
        <div class="footer-col">
          <div class="footer-nav">
            <a class="footer-nav-link" href="#"> О проекте</a>
            <a class="footer-nav-link" href="#"> Как добавить программу обучения</a>
            <a class="footer-nav-link" href="#"> Как добавить образовательную организацию</a>
            <a class="footer-nav-link" href="#"> FAQ</a>
          </div>
        </div>
        <div class="footer-col">
          <a class="btn btn-blue footer-feedback-form-modal-btn">Написать нам</a>
          <div class="footer-social">
            <div class="footer-social-title">Мы в соцсетях</div>
            <div class="footer-social-items">
              <a class="footer-social-link footer-social-link-vk" href="#" target="_blank"></a>
              <a class="footer-social-link footer-social-link-ok" href="#" target="_blank"></a>
              <a class="footer-social-link footer-social-link-fb" href="#" target="_blank"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <span>ООО «Эмили Консалтинг». Все права защищены. 2015-2020</span>
    <span>115191, Россия, город Москва, улица Рощинская 2я, дом 4, офис 503 ОГРН
      1137746126540. ИНН 7725783023.
    </span>
  </div>
</div>
