<div class="footer">
  <div class="footer-cont footer-bg__elem">
    <div class="container">
      <div class="footer-row">
        <div class="footer-col">
          <a class="footer-logo" href="#">
            <img src="/img/logo.png" alt="Footer-logo"/>
          </a>
          <ul class="footer-mnu__items">
            <li class="footer-mnu__item"><a class="footer-mnu__link" href="#">Пользовательское соглашение</a></li>
            <li class="footer-mnu__item"><a class="footer-mnu__link" href="#">Соглашение о конфиденциальности</a></li>
            <li class="footer-mnu__item"><a class="footer-mnu__link" href="#">Оферта</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <ul class="footer-nav__items">
            <li class="footer-nav__item"><a class="footer-nav__link" href="#"> О проекте</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#"> Как добавить программу обучения</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#"> Как добавить образовательную
                организацию</a></li>
            <li class="footer-nav__item"><a class="footer-nav__link" href="#"> FAQ</a></li>
          </ul>
        </div>
        <div class="footer-col footer-col3">
          <a class="btn btn-blue fancybox fancybox-ajax footer-feedback-form-modal-btn">Написать нам</a>
          <div class="footer-social">
            <div class="footer-social__title">Мы в соцсетях</div>
            <ul class="footer-social__items">
              <li class="footer-social__item"></li>
              <a class="footer-social__link footer-social__link-vk" href="#" target="_blank"></a>
              <li class="footer-social__item"></li>
              <a class="footer-social__link footer-social__link-ok" href="#" target="_blank"></a>
              <li class="footer-social__item"></li>
              <a class="footer-social__link footer-social__link-fc" href="#" target="_blank"></a></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-info footer-bg__gray">
    <div class="container footer-info__row">
      <div class="footer-info__desc">
        <div class="footer-info__name">ООО «Эмили Консалтинг». Все права защищены. 2015-2020</div>
        <div class="footer-info__address"> 115191, Россия, город Москва, улица Рощинская 2я, дом 4, офис 503 ОГРН
          1137746126540. ИНН 7725783023.
        </div>
      </div>
    </div>
  </div>
</div>
