.add-dropdown {
  @media (min-width: 320px) and (max-width: 767px) {
    width: 100%;
  }
  position: absolute;
  z-index: 1;
  top: 100%;
  width: 371px;
  transition: .55s opacity, .55s visibility;
  visibility: hidden;
  opacity: 0;
  margin-top: 20px;
  padding-top: 10px;
  box-shadow: 0 7px 20px 0 rgba(22, 58, 86, 0.1);
  background-color: #fff;

  .container-dropdown {
    display: flex;
    flex-direction: column;
    max-height: 420px;
    overflow: scroll;
    margin-top: 20px;
  }

  .item {
    @media (min-width: 320px) and (max-width: 767px) {
      .sub-mobile {
        display: none;
        padding-top: 20px;
        padding-bottom: 0;

        .item {
          padding-left: 34px;

          &:last-child {
            padding-bottom: 0;
          }
        }

        &.active {
          display: block;
        }
      }
      &.sub {
        display: none;
      }
    }
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-left: 45px;
    padding-bottom: 20px;

    .sub-mobile {
      display: none;
    }

    .circle-checkbox {
      margin-bottom: 0;
    }

    .button-b {
      width: 100%;
    }

    .correct {

    }

    label {
      width: 100%;
    }

    &.sub {
      &:hover {
        .correct {
          background-color: #eaf1f7;

          i {
            &:before {
              color: #1d71b1;
            }
          }
        }
      }

      .correct {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 50px;
        height: 100%;
        color: #ccc;

        i {
          font-size: 14px;
        }
      }
    }
  }

  .po-f {
    position: absolute;
    bottom: 20px;
    width: 80%;
  }

  .sub-container {
    @media (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
    position: absolute;
    top: 0;
    left: 100%;
    width: 230px;
    height: 100%;
    padding: 20px;
    transition: .55s opacity, .55s visibility;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 7px 20px 0 rgba(16, 42, 63, 0.1);
    background-color: #eaf1f7;

    .item {
      padding-left: 20px;
    }

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
