.teachers {
  @media (min-width: 320px) and (max-width: 767px) {
    .teacher {
      flex-direction: column;

      .new-user {
        margin-left: 0;
      }

      .add-user {
        margin-left: 0;
      }
    }
  }
}
