.teachers {
    @include mobile {
        .teacher {
            flex-direction: column;
            .new-user {
                margin-left: 0;
            }
            .add-user {
                margin-left: 0;
            }
        }
    }
}
