.success {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;

  span {
    font-weight: 600;
    line-height: 1.07;
    width: 60%;
    color: #6db4fe;
  }

  i {
    font-size: 20px;
  }
}

.modal {
  .red {
    color: #f92e25;
  }

  &-content {
    width: 40%;
  }
}

