.auth-modal {
    z-index: 111;
    .modal-content {
        @media (min-width: 320px) and (max-width: 767px) {
            width: 90%;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            width: 90%;
        }
        @media (min-width: 1024px) {            width: 370px;
        }
    }
}
