.table-programs {
    @media (min-width: 320px) and (max-width: 767px) {
        .table {
            .contact {
                display: flex;
                align-items: center;
                width: 100%;
                a {
                    margin-right: 20px;
                }
            }
            tr {
                &:not(:first-child) {
                    padding-top: 20px;
                }
            }
            .supported, .rejected {
                min-height: auto;
            }
            .q-block {
                display: flex;
                position: relative;
                padding-left: 15px !important;
                &.active {
                    font-weight: 600;
                }
                &:after {
                    content: "?";
                    position: absolute;
                    z-index: 0;
                    top: -10px;
                    left: -5px;
                    font-size: 40px;
                    font-weight: 600;
                    opacity: 0.2;
                    color: #f7562e;
                }
            }
            .reviews-text {
                display: block;
                position: relative;
                padding-left: 20px !important;
                &:after {
                    content: "\201D";
                    position: absolute;
                    z-index: 0;
                    top: -40px;
                    left: 0;
                    font-size: 150px;
                    opacity: 0.2;
                    color: #f7562e;
                }
            }
            .name-block {
                display: flex;
                position: absolute;
                left: 70px;
                border: none;
                font-weight: 600;
            }
            .review-block {
                width: 100%;
            }
            .average {
                display: none;
            }
            .average-text {
                display: block;
                font-weight: 600;
            }
            td {
                line-height: 1.29;
            }
            .buttons {
                button {
                    margin-left: 0;
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                }
            }
            .support-block {
                display: flex;
                justify-content: flex-end;
                width: 100%;
            }
        }
        .result-title {
            font-size: 15px;
            line-height: 1.38;
            text-align: left;
        }
        .hide-desktop {
            visibility: visible;
        }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
        .table {
            .contact {
                display: flex;
                align-items: center;
                width: 100%;
                a {
                    margin-right: 20px;
                }
            }
            tr {
                &:not(:first-child) {
                    padding-top: 20px;
                }
            }
            .supported, .rejected {
                min-height: auto;
            }
            .q-block {
                display: flex;
                position: relative;
                padding-left: 15px !important;
                &.active {
                    font-weight: 600;
                }
                &:after {
                    content: "?";
                    position: absolute;
                    z-index: 0;
                    top: -10px;
                    left: -5px;
                    font-size: 40px;
                    font-weight: 600;
                    opacity: 0.2;
                    color: #f7562e;
                }
            }
            .reviews-text {
                display: block;
                position: relative;
                padding-left: 20px !important;
                &:after {
                    content: "\201D";
                    position: absolute;
                    z-index: 0;
                    top: -40px;
                    left: 0;
                    font-size: 150px;
                    opacity: 0.2;
                    color: #f7562e;
                }
            }
            .name-block {
                display: flex;
                position: absolute;
                left: 70px;
                border: none;
                font-weight: 600;
            }
            .review-block {
                width: 100%;
            }
            .average {
                display: none;
            }
            .average-text {
                display: block;
                font-weight: 600;
            }
            td {
                line-height: 1.29;
            }
            .buttons {
                button {
                    margin-left: 0;
                    &:not(:first-child) {
                        margin-left: 20px;
                    }
                }
            }
            .support-block {
                display: flex;
                justify-content: flex-end;
                width: 95%;
            }
        }
        .result-title {
            font-size: 15px;
            line-height: 1.38;
            text-align: left;
        }
        .hide-desktop {
            visibility: visible;
        }
    }
    .hide-desktop {
        visibility: hidden;
    }
    .table {
        .average-text {
            display: none;
        }
    }
}
