<ul>
  <li>
    <div class="item collapsible">
      <i class="fa fa-rss-square"></i>
      <div class="text">&nbsp;Блог</div>
      <i class="menu-arrow menu-arrow-right"></i>
    </div>

    <ul class="collapse-content">
      <li>
        <div class="item">
          <i class="point"><span></span></i>
          <a class="text" href="/admin">Статьи</a>
        </div>
      </li>
      <li>
        <div class="item">
          <i class="point"><span></span></i>
          <a class="text" href="{{ path('admin.tag.index') }}">Теги</a>
        </div>
      </li>
      <li>
        <div class="item">
          <i class="point"><span></span></i>
          <a class="text" href="/admin">Рубрики</a>
        </div>
      </li>
    </ul>
  </li>
</ul>