.container {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &.add {
      cursor: pointer;

      &:hover .add-button {
        color: #1d71b1;
      }
    }

    .point {
      display: block;
      margin-right: 9px;
      width: 32px;
      height: 32px;

      &.number {
        background-color: #f3f3f3;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #1d71b1;
        font-family: "Lato-Black", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
      }

      &.plus {
        background-image: url("./../../img/plus.svg");
        background-size: 100%;
      }
    }

    .input {
      width: 430px;
      padding: 15px 22px;
      border-radius: 23px;
      background-color: #f3f3f3;
      border: none;
      color: #3c3c3c;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
    }

    img {
      height: 1.5em;
      position: absolute;
      left: 434px;
    }

    .add-button {
      width: 72px;
      height: 15px;
      color: #68b2fe;
      font-size: 16px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: underline;
    }
  }
}
