.input {
  input {
    border-radius: 100px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
    padding: 0 30px;
    height: 50px;
  }

  &.required {
    input::placeholder {
      color: rgb(84, 84, 84);
    }
  }
}

.textarea {
  border-radius: 22px;
  border: none;
  background-color: #f3f3f3;
  padding: 15px 30px;
  width: 100% !important;
  max-height: 600px;
  min-height: 100px;

  &.resize-disabled {
    max-height: 100px;
    resize: none;
  }

  &.large {
    min-height: 124px;
    max-height: 124px;
  }
}