.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;

  .point {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 100px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;

    &.selected:before {
      content: '';
      width: 60%;
      height: 60%;
      top: 20%;
      left: 20%;
      border-radius: 100px;
      position: absolute;
      background-color: #208abd;
    }
  }

  .value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
