.radio {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  cursor: pointer;

  &.disabled {
    opacity: .6;
    cursor: default;
  }

  .point {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 100px;
    margin-right: 10px;
    position: relative;

    &.selected:before {
      content: '';
      width: 60%;
      height: 60%;
      top: 20%;
      left: 20%;
      border-radius: 100px;
      position: absolute;
      background-color: #208abd;
    }

    &.checked:before {
      content: '';
      position: absolute;
      width: 80%;
      height: 80%;
      top: 0;
      left: 24%;
      background-size: 100%;
      background-image: url("./../../img/check.svg");
    }
  }

  .value {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}
