.header {
  position: relative;
  padding: 1rem 0;
  width: 100%;

  .container {
    overflow: visible;
  }

  .header-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .logo-mobile{
      display: none;
      @media(max-width: 767px){
        display: block;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5vh;
      }
    }
    .logo{
      margin-right: 3vw;
      display: block;
      @media(max-width: 767px){
        display: none;
        
      }
    }

    .header-wrap-right {
      display: flex;
      margin-left: auto;
      @media (max-width: 550px){
        margin-left: 0;
      }

      .button-favourite{
        margin-right: 1.6vw;
      }
    }

    .categories-menu-btn {
      position: relative;
      padding: 0 20px 0 50px;
      background-color: #ededed;
      border-radius: 10px;
      height: 46px;
      line-height: 46px;
      color: #3d3d3d;
      font-size: 15px;
      font-weight: 700;
      margin-right: 1.3vw;
      @media(max-width: 550px){
        padding: 0 10px 0 45px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 45px;
        left: 18px;
        top: 13px;
        background: url(../../../img/menu.svg) no-repeat;
      }
    }

    .header-button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      width: 45px;
      height: 45px;
      cursor: pointer;
      background-color: #1d71b1;
      @media(max-width: 550px){
        margin-right: 2.5vw;
      }

      img {
        pointer-events: none;
      }

      .header-button-tooltip {
        width: 21px;
        height: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -3px;
        top: -3px;
        font-size: 10px;
        line-height: 12px;
        font-weight: 700;
        padding: 5px;
        border-radius: 15px;
        filter: drop-shadow(0 0 3px rgba(13, 42, 64, 0.15));
        background-color: #fff;
        z-index: 999999;
      }
    }

    .header-button-container {
      display: flex;
      margin-left: 1.3vw;
      @media(max-width: 550px){
        margin-right: 0;
        margin-left: auto;
      }
      .header-button-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 8px;
        @media(max-width: 550px){
          display: none;
        }
      }

      .header-button-text {
        font-size: 13px;
      }

      .header-button-link {
        color: #1d71b1;
        font-weight: 400;
        font-size: 13px;
        outline: 0;
        text-decoration: underline;

        &.black {
          color: #3c3c3c;
        }

        &:hover {
          cursor: pointer;
          transition: all .3s;
          text-decoration: none;
        }
      }
    }
  }
}


