<html>
<head>
  <meta charset="UTF-8">
  <title>Skill Grad Admin</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  {% block stylesheets %}
    {{ encore_entry_link_tags('admin') }}
  {% endblock %}
</head>
<body>
<div id="root"></div>

{% block javascripts %}
  {{ encore_entry_script_tags('admin') }}
{% endblock %}
</body>
</html>
