.container {
  padding: 20px 0 55px 0;

  .categories {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .category-select {
      width: 31%;

      @media (max-width: 768px) {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }
    }
  }

  .field-container {
    margin-top: 25px;
  }

  .input-container {
    margin-top: 36px;
  }

}
