.settings {
    .custom-select__trigger {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .result-title {
        @include mobile {
            margin-left: 0;
            margin-right: 0;
        }
        @include tablet {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .general {
        width: 100%;
    }
    .container-0 {
        div {
            padding-right: 0;
            &:first-child {
                @include desktop {
                    padding-left: 0;
                }
            }
            &:last-child {
                @include desktop {

                }
            }
        }
    }
    .logo-organization {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .buttons {
            @include mobile {
                margin-bottom: 20px;
            }
            @include tablet {
                margin-bottom: 20px;
            }
            display: flex;
            margin-top: 20px;
            justify-content: space-evenly;
            button {
                height: 25px;
            }
        }
        img {
            min-height: 145px;
            object-fit: contain;
        }
    }
    .button-block {
        justify-content: flex-end;
    }
    .currentSelect {
        margin-bottom: 40px;
        position: relative;
        .block-add-category {
            &.active {
                opacity: 1;
                visibility: visible;
            }
            position: absolute;
            z-index: 1;
            width: 100%;
            visibility: hidden;
            padding: 20px;
            transition: .55s opacity, .55s visibility;
            opacity: 0;
            box-shadow: 0 12px 25px 0 rgba(22, 58, 86, 0.12);
            background-color: #fff;
            .col-lg-12 {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            .button-b {
                height: 25px;
                font-size: 13px;
            }
        }
        & .item {
            position: relative;
            margin-bottom: 10px;
            .delete {
                top: 50%;
                margin-top: -10px;
                width: 20px;
                height: 20px;
                background-color: #f92e25;
                &:after {
                    top: 2px;
                    left: 6px;
                }
            }
            .text {
                margin-bottom: 10px;
                width: 80%;
            }
            &:not(:last-child) {
                border-bottom: 1px solid #cccccc;
            }
        }
    }
    .add-new-category {
        display: flex;
        position: relative;
        width: 100%;
        border: none;
        background-color: #e9f4fd;
        border-radius: 23px;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 30px;
        color: #208abd;
        i {
            position: absolute;
            top: 50%;
            right: 15px;
            margin-top: -11px;
            font-size: 22px;
            .path2:before {
                margin-left: -1em;
            }
        }
    }
    form {
        width: 100%;
    }
}
