{% extends 'layouts/base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="d-f w-100 j-c-center">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Каталог программ обучения</a></li>
          <li><a class="active" href="#">Прикладная информатика в энергетических системах</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-12 mobile-no-gutter">
      <div class="main-card__program mt-0">
        <h2 class="title program">Прикладная информатика в энергетических системах</h2>
        <div class="alert">
          <div class="container-0 j-c-space-between">
            <div class="information">
              <div class="date">
                <span class="icon calendar"></span>
                <span class="text">Добавлена: </span><strong>19.02.2019</strong>
              </div>
              <div class="proposal">
                <span class="icon mail"></span>
                <span class="text">Получено заявок:</span> <strong>12</strong>
              </div>
              <div class="rating">
                <span class="icon goal"></span>
                <span class="text">Средняя оценка: </span> <strong class="accent">4.1</strong>
              </div>
            </div>
            <div class="share">
              <div class="contact-block">
                <span class="text">Поделиться:</span>
                <ul>
                  <li>
                    <a href="#"><img src="/img/svg/vk.svg" alt=""></a>
                  </li>
                  <li>
                    <a href="#"><img src="/img/svg/odnoklassniki.svg" alt=""></a>
                  </li>
                  <li>
                    <a href="#"><img src="/img/svg/facebook.svg" alt=""></a>
                  </li>
                </ul>
              </div>
              <div class="buttons">
                <div data-tippy-content="Добавить в избранное" id="add-favorite" class="button-container">
                  <i class="icon-heart"></i>
                </div>
                <div id="add-compare" data-tippy-content="Добавить к сравнению" class="button-container">
                  <i class="icon-add-file"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-content show">
            <div class="container-0">
              <div class="col-lg-12 pl-0">
                <h5 class="result-title mt-0">Категории программы обучения</h5>
                <p class="text"><span class="blue">1. Архитектура и строительство:</span> архитектура</p>
                <p><span class="blue">2. Информационные технологии:</span> ИТ-менеджмент / программирование / системное
                  администрирование</p>
                <p class="text"><span class="blue">3. Природопользование и экология:</span> геология и разведка полезных
                  ископаемых / гидрометеорология</p>
                <h5 class="result-title">Аннотация программы</h5>
                <p class="text">Главная задача: подготовка квалифицированных специалистов, способных вести
                  проектирование
                  и разработку новых экономических прикладных программ и информационных систем, осуществлять внедрение в
                  эксплуатацию и развитие существующих систем в бизнесе
                  и государственном управлении. Области применения знаний — экономика, энергетика, государственное
                  управление, страхование, банковская и инвестиционная деятельность.</p>
                <h5 class="result-title">Программа обучения</h5>
                <p class="text">Программа состоит из 5 онлайн сессий и предусматривает выполнение самостоятельных
                  задач:</p>
                <p class="text">Сессия 1 . "Время как ресурс: индивидуальные особенности тайм-менеджмента"</p>
                <p class="text">Сессия 2. "Правила целеполагания и формулировка задач"</p>
                <p class="text">Сессия 3. "Инструменты планирования деятельности в условиях изменений и
                  неопределенности"</p>
                <p class="text">Сессия 4. «Инструменты оценки и фиксации результатов деятельности"</p>
                <p class="text">Сессия 5. "Дефицит рабочего времени как фактор эмоционального выгорания".</p>
                <p class="text">Обучение предполагает активные, пассивные и интерактивные методы взаимодействия, такие
                  как
                  интерактивная лекция, модерируемых дискуссия, практические задания, ответы на проблемные вопросы.
                </p>
                <h5 class="result-title">Описание процесса обучения</h5>
                <p class="text">В современных условиях деятельности государственной службы важно уметь выстроить процесс
                  дистанционной работы с учетом актуальных техник и инструментов, позволяющих государственным служащим
                  эффективно выполнять свои обязанности и поддерживать себя в сложное время. В программе вебинара
                  предложены инструменты планирования, определения приоритетов, оценки и фиксации результатов
                  деятельности, саморегуляции, помогают поддерживать эмоционально-психологическое состояние и
                  эффективную
                  работоспособность.
                </p>
                <p class="text">Целью программы является актуализация и углубление знаний, по инструментов
                  тайм-менеджмента, которые помогут повысить индивидуальную эффективность в условиях удаленной работы.
                </p>
                <p class="text">Онлайн программу вебинаров разработан по общей краткосрочной программе «Тайм-менеджмент»
                  с
                  целью продолжения профессионального обучения в условиях карантинных мероприятий.
                </p>
                <h5 class="result-title">Дизайн программы обучения</h5>
                <p class="text">Работа с наставником (тьютором, преподавателем)</p>
                <h5 class="result-title">Проверка знаний</h5>
                <p class="text">Экзамен по итогам обучения</p>
                <h5 class="result-title">Дополнительно</h5>
                <ul class="tick">
                  <li>Консультационная поддержка после обучения
                  </li>
                  <li>Онлайн форум выпускников</li>
                </ul>
                <h5 class="result-title">Преимущества программы обучения</h5>
                <p class="text">В 2019 году на бюджетные места очно-заочной формы поступили все на базе СПО, проходной
                  балл 2019 - 202.
                </p>
                <p class="text">15 мест с оплатой очно-заочного обучения в 2020 году.
                </p>
                <p class="text">
                  Выдаваемые документы: Диплом о присвоении степени бакалавра Прикладной информатики государственного
                  образца и возможность получения дополнительного диплома о присвоении степени бакалавра экономики
                  европейского образца (Университет Гренобль Альпы (Франция).
                </p>
                <h5 class="result-title">Целевая аудитория</h5>
                <ul class="tick">
                  <li>Дети до 12 лет</li>
                  <li>
                    Родители с детьми до 12 лет
                  </li>
                </ul>
                <h5 class="result-title">Предварительная подготовка</h5>
                <ul class="tick">
                  <li>Не требуется</li>
                </ul>
                <h5 class="result-title">Полученные знания, приобретенные навыки</h5>
                <p class="text">Выдаваемые документы: Диплом о присвоении степени бакалавра Прикладной информатики
                  государственного образца и возможность получения дополнительного диплома о присвоении степени
                  бакалавра
                  экономики европейского образца (Университет Гренобль Альпы (Франция).</p>
                <h5 class="result-title">Включено в курс</h5>
                <ul class="tick">
                  <li>Книги</li>
                  <li>Методические материалы</li>
                  <li>Кофе-брейки</li>
                </ul>
                <h5 class="result-title">Скидки</h5>
                <ul class="tick">
                  <li>Для физических лиц - 10% = 1850 руб.</li>
                  <li>Для юридических лиц - 15% = 2300 руб.</li>
                </ul>
                <h5 class="result-title">Акции от провайдера</h5>
                <ul class="tick">
                  <li>Акция «Весеннее чудо». Скидка 5% для всех зарегистрировавшихся в период с 25 апреля
                    по 25 мая
                  </li>
                  <li>Акция к 75-летию победы! В период с 1 по 11 мая зарегистрируйся на обучение и получи скидку в
                    размере 20 % от стоимости! А еще 5% от стоимости пойдет в благотворительный фонд «ПАМЯТЬ ПОКОЛЕНИЙ»
                  </li>
                </ul>
                <h5 class="result-title">Акция «Любимый провайдер»</h5>
                <div class="container-0">
                  <div class="sale">
                    <span class="percent">20%</span>
                    <span class="text">Скидка при приобретении <br/> первого курса</span>
                  </div>
                  <div class="sale">
                    <span class="percent">10%</span>
                    <span class="text">Скидка при приобретении <br/> первого курса</span>
                  </div>
                </div>
                <h5 class="result-title">Условия оплаты</h5>
                <ul class="tick">
                  <li>
                    <strong>Для юридических лиц</strong>
                    <p class="text mt-10"> Акция к 75-летию победы! В период с 1 по 11 мая зарегистрируйся на обучение и
                      получи скидку в размере 20 % от стоимости! А еще 5% от стоимости пойдет в благотворительный фонд
                      «ПАМЯТЬ ПОКОЛЕНИЙ»
                      Акция к 75-летию победы! В период с 1 по 11 мая зарегистрируйся на обучение и получи скидку в
                      размере 20 % от стоимости! А еще 5% от стоимости пойдет в благотворительный фонд «ПАМЯТЬ
                      ПОКОЛЕНИЙ»
                    </p>
                  </li>
                  <li><strong>Для физических лиц</strong>
                    <p class="text mt-10"> Акция к 75-летию победы! В период с 1 по 11 мая зарегистрируйся на обучение и
                      получи скидку в размере 20 % от стоимости! А еще 5% от стоимости пойдет в благотворительный фонд
                      «ПАМЯТЬ ПОКОЛЕНИЙ»
                      Акция к 75-летию победы! В период с 1 по 11 мая зарегистрируйся на обучение и получи скидку в
                      размере 20 % от стоимости! А еще 5% от стоимости пойдет в благотворительный фонд «ПАМЯТЬ
                      ПОКОЛЕНИЙ»
                    </p></li>
                </ul>
                <h5 class="result-title">Фотографии с мероприятия</h5>
                <div class="photo-container">
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                  <div class="photo-block">
                    <img src="/img/photo.jpg" alt="">
                    <span>Переподаватель на уроке актерского мастерства</span>
                  </div>
                </div>
                <h5 class="result-title">Дополнительная информация</h5>
                <p class="text">3 балла за спортивные достижения: звания чемпиона мира, Европы или Олимпийских
                  (и Паралимпийских) игр, статус мастера спорта или кандидата в мастера спорта</p>
                <p class="text">7 баллов за результаты олимпиад и творческих конкурсов, не используемые для получения
                  особых прав
                </p>
                <p class="text">7 баллов за результаты предпрофессионального экзамена (для участников городских проектов
                  «Инженерный класс», «Медицинский класс», «Академический класс» и «Кадетский класс»)
                </p>
                <p class="text">2 балла за наличие статуса победителя чемпионата по профессиональному мастерству среди
                  инвалидов и лиц с ограниченными возможностями здоровья (ОВЗ) «Абилимпикс»
                </p>
                <h5 class="result-title">Отзывы и оценки (15)</h5>
                <div class="container-0">
                  <div class="reviews">
                    <div class="container-0">
                      <div class="information">
                        <div class="top">
                          <img class="rounded" src="/img/photo.jpg" alt="">
                          <div class="d-flex w-100 j-c-space-between mt-10">
                            <span class="name">Викторов Тимофей</span>
                            <span class="date">22 авг 2020,  12:35</span>
                          </div>
                        </div>
                        <div class="comment">
                          <p class="text">
                            Программа замечательная! Полностью соответствует заявленному описанию, преподаватель -
                            настоящий знаток своего дела. Получил не только знания и навыки,
                            но и массу впечатлений!
                          </p>
                        </div>
                      </div>
                      <div class="value">
                        <p class="text">
                          <i class="icon-star"></i>
                          Средняя оценка: <strong class="accent">4.7</strong>
                        </p>
                        <div class="text">
                          <span class="title">Программа</span>
                          <span>
                                                            5
                                                            <span class="tooltip">
                                                                Полученные знания, навыки будут использованы мною
                                                                в рабочей практике
                                                            </span>
                                                        </span>

                          <span>5</span>
                          <span>4</span>
                        </div>
                        <div class="text">
                          <span class="title">Преподаватель</span>
                          <span>
                                                            5
                                                            <span class="tooltip">
                                                                Полученные знания, навыки будут использованы мною
                                                                в рабочей практике
                                                            </span>
                                                        </span>
                        </div>
                        <div class="text">
                          <span class="title">Организация обучения</span>
                          <span>5
                                                        </span>
                          <span>4</span>
                        </div>

                      </div>
                    </div>
                    <div class="answer">
                      <span class="right-arrow"></span>
                      <div class="information">
                        <div class="top">
                          <img class="rounded" src="/img/photo.jpg" alt="">
                          <div class="d-flex w-100 j-c-space-between mt-10">
                            <span class="name">Ермакова Валентина</span>
                            <span class="date">22 авг 2020,  12:35</span>
                          </div>
                        </div>
                        <div class="comment">
                          <p class="text">
                            Большое спасибо за вашу оценку!
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="reviews">
                    <div class="container-0">
                      <div class="information">
                        <div class="top">
                          <img class="rounded" src="/img/photo.jpg" alt="">
                          <div class="d-flex w-100 j-c-space-between mt-10">
                            <span class="name">Викторов Тимофей</span>
                            <span class="date">22 авг 2020,  12:35</span>
                          </div>
                        </div>
                        <div class="comment">
                          <p class="text">
                            Программа замечательная! Полностью соответствует заявленному описанию, преподаватель -
                            настоящий знаток своего дела. Получил не только знания и навыки,
                            но и массу впечатлений!
                          </p>
                        </div>
                      </div>
                      <div class="value">
                        <p class="text">
                          <i class="icon-star"></i>
                          Средняя оценка: <strong class="accent">4.7</strong>
                        </p>
                        <div class="text">
                          <span class="title">Программа</span>
                          <span>
                                                            5
                                                            <span class="tooltip">
                                                                Полученные знания, навыки будут использованы мною
                                                                в рабочей практике
                                                            </span>
                                                        </span>

                          <span>5</span>
                          <span>4</span>
                        </div>
                        <div class="text">
                          <span class="title">Преподаватель</span>
                          <span>
                                                            5
                                                            <span class="tooltip">
                                                                Полученные знания, навыки будут использованы мною
                                                                в рабочей практике
                                                            </span>
                                                        </span>
                        </div>
                        <div class="text">
                          <span class="title">Организация обучения</span>
                          <span>5
                                                        </span>
                          <span>4</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 no-gutter">
                <div class="pagination mt-40">
                  <a href="#">
                    <span class="prev"></span>
                  </a>
                  <a href="#">1</a>
                  <a class="active" href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">
                    <span class="next"></span>
                  </a>
                </div>
              </div>
              <div class="container-0 j-c-center mt-40">
                <div class="col-lg-4 col-sm-4 col-md-6">
                  <button class="button-red">Оставить оценку</button>
                </div>
                <div class="col-lg-4 col-sm-4 col-md-6">
                  <button class="button-blue">Задать вопрос</button>
                </div>
              </div>
            </div>
          </div>
          <div class="box-sidebar show">
            <div class="container-0">
              <div class="col-lg-12 pr-0">
                <div class="price-block">
                  <div class="price">
                    <span class="price-old">148 000 р.</span>
                    <span class="price-new">124 000 р.</span>
                    <a href="#">Узнать о скидках/акциях</a>
                  </div>
                  <div class="button">
                    <button class="button-blue">Подать заявку</button>
                  </div>
                </div>
                <div class="card-shadow pl-45">
                  <p class="text">
                    <i class="icon-book"></i>
                    <span>Продолжительность обучения:</span>
                    <strong class="blue">125 дней</strong>
                  </p>
                  <p class="text">
                    <i class="icon-square"></i>
                    <span>Формат обучения:</span>
                    <strong class="blue">Заочная форма обучения
                    </strong>
                  </p>
                  <p class="text">
                    <i class="icon-student"></i>
                    <span>Уровень:</span>
                    <strong class="blue">Начальный</strong>
                  </p>
                  <p class="text">
                    <i class="icon-calendar-2"></i>
                    <span>Даты обучения:</span>
                    <strong class="blue"> 13 апреля - 25 сентября
                    </strong>
                  </p>
                  <p class="text">
                    <i class="icon-clock"></i>
                    <span>Режим занятий:</span>
                    <strong class="blue">Будни, с 18:00 до 20:00</strong>
                  </p>
                  <p class="text">
                    <i class="icon-place"></i>
                    <span>Место проведения:</span>
                    <strong class="blue"> Москва, ул. Петровская, д.45, аудитория 125
                    </strong>
                  </p>
                </div>
                <div class="card-shadow">
                  <h5 class="result-title">Провайдеры обучения</h5>
                  <div class="provider">
                    <img src="/img/orig_(1).jpg" alt="">
                    <a href="#">Институт системного анализа
                      и управления Государственного университета «Дубна»</a>
                  </div>
                  <div class="provider">
                    <img src="/img/orig_(1).jpg" alt="">
                    <a href="#">Институт системного анализа
                      и управления Государственного университета «Дубна»</a>
                  </div>
                </div>
                <div class="card-shadow">
                  <h5 class="result-title">Преподаватели</h5>
                  <div class="teacher">
                    <img src="/img/photo.jpg" alt="">
                    <span>Кудряшова Елизавета Вячеславовна</span>
                  </div>
                  <div class="teacher">
                    <img src="/img/photo.jpg" alt="">
                    <span>Кудряшова Елизавета Вячеславовна</span>
                  </div>
                </div>
                <div class="card-shadow">
                  <h5 class="result-title">Выдаваемый документ</h5>
                  <div class="cert">
                    <span>Диплом Государственного Образца</span>
                    <img src="/img/cert.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
