.progress-bar {
  display: flex;
  flex-direction: column;
  padding: 33px 30px;
  border-radius: 35px;
  background-color: #e9f4fd;
  width: 100%;

  .item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.success {
      .number {
        color: #fff;

        &:after {
          content: '';
          background-image: url("./../../../img/svg/correct.svg");
          background-size: 100%;
          width: 30px;
          height: 30px;
          position: absolute;
          left: 13px;
          top: 12%;
        }
      }

      .text {
        color: #6db4fe;
      }
    }

    &.error {
      .number {
        color: #f92e25;
      }

      .text {
        color: #f92e25;
      }
    }

    .number {
      font-size: 28px;
      font-weight: 700;
      line-height: 22px;
      color: #d3e0ea;
      margin-right: 17px;
      position: relative;
    }

    .text {
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.result {
  width: 124px;
  text-align: center;
  margin: 27px auto 0;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 18px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  cursor: pointer;

  .percents {
    margin-top: 7px;
    width: 94px;
    height: 94px;
    background-color: #6db4fe;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #fff;
      font-size: 30px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  &:hover {
    .tooltip {
      display: block;
    }
  }

  .tooltip {
    color: #3d3d3d;
    font-family: "Lato-Semibold", sans-serif;
    font-size: 12px;
    line-height: 14px;
    position: absolute;
    background-color: #fff;
    padding: 12px 15px;
    box-shadow: 0 7px 20px rgba(16, 42, 63, 0.1);
    bottom: calc(100% + 10px);
    width: 225px;
    display: none;

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: calc(50% - 10px);
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
    }
  }
}