{% extends 'layouts/admin.base.html.twig' %}

{% set title = 'Редактирование рубрики #' ~ rubric.id %}

{% block body %}
  {% include 'admin/parts/breadcrumbs.twig' with { items: [
    { name: 'Главная', url: path('admin.site.index') },
    { name: 'Список рубрики', url: path('admin.rubric.index') },
  ] } %}

  <div class="row mx-0">
    <div class="col-6 px-0">
      {% include 'admin/tag/form.html.twig' with { form: form } %}
    </div>
  </div>

{% endblock %}
