body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto Light", sans-serif;
}

.wrap {
  max-width: 1200px;
  margin: auto;
}

.profile {
  &-info {
    display: none;
  }

  &-dropdown {
    position: absolute;
    top: 74px;
    background-color: #fff;
    left: 0;
    box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
    transition: visibility 0s, opacity 0.1s ease-out;
    opacity: 1;
    visibility: visible;
  }
}

.logged {
  .profile-info {
    display: flex;
    flex-direction: column;
  }

  .auth-form {
    display: none;
  }
}

@font-face {
  font-family: "Roboto Light";
  src: url("./fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}