@import "./fonts/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  color: hsl(0, 0%, 20%);;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 320px;
}

r
.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    width: 100%;
  }

  @media (min-width: 992px) {
    width: 962px;
  }

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 1800px) {
    width: 1770px;
  }
}


////////////////////////////


@media all and (max-width: 576px) and (min-width: 320px) {

  .header-wrap .logo {
    display: none;
  }

  .header-wrap .location .header__btns-link {
    margin-right: 0px;
  }

  span.main__mnu-icon {
    width: 32px;
    height: 32px;
    position: unset;
    margin-right: 10px;
  }

  .banner__home .main__mnu .btn__add-popup::before {
    left: 20px;
    top: 35%;
  }

  .main__mnu-mobile {
    padding-left: 0;
    justify-content: center;
  }

  .how-work__info-items {
    margin-bottom: 50px;
  }


  .banner__home .main__mnu button.main__mnu-mobile:hover .banner__home .main__mnu-list {
    display: block;
  }

}


@media all and (max-width: 767px) and (min-width: 577px) {

  .header-wrap {
    align-items: flex-end;
  }

  .header-wrap .logo {
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .header-wrap .logo__mobile {
    display: none;
  }

  .banner__home .main__mnu .main__mnu-mobile {
    justify-content: center;
  }
  span.main__mnu-icon {
    width: 32px;
    height: 32px;
    position: unset;
    margin-right: 10px;
  }
  .banner__home .main__mnu .btn__add-popup::before {
    left: 20px;
    top: 30%;
  }
  .blog-item {
    width: 95%;
  }

  .blog-item__title {
    margin-bottom: 35px;
  }
}

@media all and (max-width: 991px) and (min-width: 768px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
  .header-wrap {
    display: flex;
    align-items: flex-start;
  }
  .header-wrap .logo {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .header-wrap .categories-nav {
    display: block;
    width: 30%;
  }

  .header-wrap .categories-nav {
    margin-right: 0;
  }

  .header-wrap .location {
    margin-right: 20px;
  }


  .banner__home {
    background-position: 0% 100%;
  }

  .study .container {
    padding-left: 0;
    padding-right: 0;
  }

  .how-work .container {
    padding-left: 0;
    padding-right: 0;
  }

  .how-work__info-items {
    height: 65%;
    width: 100%;
  }

  .how-work__info-title {
    margin-left: auto;
    width: 78%;
    text-align: left;
  }

  .how-work__info {
    width: 45%;
  }

  .how-work__title {
    margin-bottom: 75px;
  }

  .blog-item {
    width: 95%;
  }

  .blog-item__title {
    margin-bottom: 90px;
  }

  .blog .container {
    padding-left: 0;
    padding-right: 0;
  }

  .owl-prev {
    bottom: 15%;
  }
  .owl-next {
    bottom: 14%;
  }

  .how-work .btn__popup {
    width: 300px;
  }


}

@media (min-width: 992px) {
  .blog-item {
    width: 95%;
  }

  .how-work .btn__popup {
    width: 300px;
  }
}


.wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  width: 100%;
}


header,
.banny__home,
.study,
.how-work,
.blog {
  position: relative;
  width: 100%;
}

.btn {
  width: 270px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 27px;
  color: #fff;
  font-size: 17px;
  display: block;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.header__btns-link {
  position: relative;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: #1d71b1;
}

.btn__center {
  display: block;
  margin: 0 auto;
}

.btn-blue {
  background-image: linear-gradient(0deg, #1f81b9 0%, #195da7 100%);
}

.title-main {
  font-size: 44px;
  font-weight: 700;
  color: #3c3c3c;
  text-align: center;
  padding-bottom: 40px;
}


/**Slider**/

.slider {
  position: relative;
  overflow: hidden;

}

.slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__control {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  color: #fff;
  text-align: center;
  bottom: 60px;

}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.slider__control_left {
  left: -10px;
}

.slider__control_left:hover {
  cursor: pointer;
  opacity: .8;
}

.slider__control_right {
  right: -10px;
}

.slider__control_right:hover {
  cursor: pointer;
  opacity: .8;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background: url("../img/018-arrow.svg") no-repeat;
}

.slider__control_right::before {
  background: url("../img/018-arrow.svg") no-repeat;
  transform: rotate(180deg);
}

@media(max-width: 767px) {
  .title-main {
    font-size: 26px;
    line-height: 32px;
    text-align: center;
  }
}
