.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;

  a {
    text-decoration: none;
  }

  .link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;

    &:hover {
      z-index: 2;
      color: #0056b3;
      text-decoration: none;
      background-color: #e9ecef;
      border-color: #dee2e6;
    }

    &:focus {
      z-index: 3;
      outline: 0;
    }
  }

  .item:first-child .link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
  }

  .item:last-child .link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  .item.active .link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  .item.disabled .link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
  }
}
