.review {
  width: 100%;
  background-color: #e9f4fd;
  display: flex;
  flex-wrap: nowrap;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 13px;
  }

  .information {
    flex: 1 1 60%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px 25px;

    .review-main-info {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }

    .comment {
      padding-left: 60px;

      .text {
        font-size: 14px;
      }
    }
  }

  .value {
    flex: 1 1 40%;
    background-color: #d2e8fa;
    padding: 20px 25px 15px;
    position: relative;

    i {
      position: absolute;
      z-index: 10;
      left: 12px;
      top: 15px;
      font-size: 30px;

      &:before {
        color: #fff;
      }
    }

    .review-value-title {
      display: flex;
      justify-content: flex-start;

      &.top {
        font-family: 'Lato-Bold', sans-serif;
        position: relative;
        z-index: 100;
      }

      strong {
        margin-left: 7px;
      }
    }

    .review-value-row {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      &:not(:last-child) {
        margin-bottom: 7px;
      }

      .review-value-title {
        width: 132px;
        overflow: hidden;
        font-weight: 300;

        &:after {
          content: "...................................";
          margin-left: 2px;
          color: #cccccc;
          display: flex;
          align-items: flex-end;
        }
      }

      .review-value-values {
        padding-left: 8px;

        .review-value-rating {
          cursor: pointer;
          position: relative;
          font-family: 'Lato-Bold', sans-serif;

          &:hover {
            .tooltip {
              visibility: visible;
            }
          }

          .tooltip {
            left: -40px;
            bottom: calc(100% + 10px);
            font-family: 'Lato', sans-serif;

            &:after {
              top: 100%;
            }

            &.first-tooltip {
              left: -50px;
            }
          }

          &:not(:first-child) {
            padding-left: 10px;
          }

          &:not(:last-child) {
            padding-right: 10px;
          }

          &:not(:last-child):after {
            content: "/";
            color: #cccccc;
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }
}

.review-author-date {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .review-author-name {
    font-weight: 700;
    font-size: 16px;
    line-height: 20.01px;
  }

  .review-date {
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    line-height: 20.01px;
    white-space: nowrap;
  }
}

.answer {
  position: relative;
  margin: 20px 0;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 13px;
  }

  .information {
    margin-left: 92px;
  }

  .right-arrow {
    display: block;
    position: absolute;
    left: 30px;
    width: 28px;
    height: 28px;
    background: url("../../img/svg/right-comment.svg") no-repeat;
  }

  .comment {
    width: 100%;
  }
}

.main-card__program {
  .alert {
    @media (min-width: 320px) and (max-width: 767px) {
      padding: 20px 10px;
    }
  }

  .information {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: 320px) and (max-width: 767px) {
      justify-content: space-between;
      width: 100%;
    }

    & .date, & .rating, & .proposal {
      display: flex;
      align-items: center;
      margin-right: 40px;

      @media (min-width: 320px) and (max-width: 767px) {
        margin-right: 0;

        .text {
          display: none;
        }
      }

      strong {
        margin-left: 5px;
      }
    }
  }

  .share {
    display: flex;
    font-size: 14px;
    line-height: 22px;

    @media (min-width: 320px) and (max-width: 767px) {
      justify-content: space-between;
      width: 100%;
      margin-top: 20px;

      .text {
        display: none;
      }
    }

    .contact-block {
      display: flex;
      align-items: center;
    }

    .buttons {
      display: flex;
    }

    .button-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: #fff;
      border-radius: 100%;

      &:not(:last-child) {
        margin-right: 20px;
      }

      i {
        font-size: 22px;

        &:before {
          color: #99a6b0;
        }
      }
    }

    ul {
      display: flex;
      margin-left: 10px;
      margin-right: 20px;

      @media (min-width: 320px) and (max-width: 767px) {
        margin-left: 0;
      }

      li {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      img {
        width: 34px;
      }
    }
  }

  .rating {
    margin-top: 0;
  }
}

.price-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  @media (min-width: 320px) and (max-width: 767px) {
    padding-left: 4%;
    padding-right: 4%;
  }

  .price {
    display: flex;
    flex: 1 1 30%;
    flex-direction: column;

    a {
      color: #999999;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-decoration: underline;
      margin-top: 10px;
    }
  }

  .button {
    flex: 1 1 30%;
  }
}

.photo-container {
  display: flex;
  flex-wrap: wrap;

  .photo-block {
    display: flex;
    flex: 1 1 20%;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: center;
    margin-right: 10px;

    @media (min-width: 320px) and (max-width: 767px) {
      flex-basis: 100%;
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}

.sale {
  display: flex;
  align-items: center;

  .percent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #73ba04;
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }

  .text {
    padding-left: 10px;
    padding-right: 20px;
  }
}
