<div id="add-favorites-modal" class="add-favorites modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content pb-20">
      <p>Добавление в Избранное доступно только авторизованным пользователям</p>
      <p>Войдите или зарегистрируйтесь</p>
      <button class="button-blue login-btn">Войти</button>
      <button class="button-red register-btn">Зарегистрироваться</button>
    </div>
  </div>
</div>