<div class="modal {{ app.session.flashBag.has('alert.message') ? 'is-visible' : '' }}" id="alert-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <p class="message">{{ app.session.flashBag.get('alert.message') | last }}</p>
    </div>
  </div>
</div>
