<div class="modal city-selector-modal" id="city-selector-modal">
  <div class="modal-content">
    <div class="modal-body city-selector-body">
      <button class="close-modal"></button>
      <h2>Выбор города</h2>
      <div class="modal-search">
        <input type="text" name="search" value="" placeholder="Поиск по названию города">
        <input class="modal-search-submit" type="submit" value="">
      </div>

      <div class="city-list-container">
        <div class="city-list-wrap">
          <div class="city-list-select">
            <a href="#" class="city-list-item city">Москва</a>
            <a href="#" class="city-list-item city">Санк-Петербург</a>
            <a href="#" class="city-list-item city">Екатеринбург</a>
            <a href="#" class="city-list-item city">Новосибирск</a>
            <a href="#" class="city-list-item city">Нижний Новгород</a>
            <a href="#" class="city-list-item city">Казань</a>
            <a href="#" class="city-list-item city">Челябинск</a>
            <a href="#" class="city-list-item city">Омск</a>
            <a href="#" class="city-list-item city">Самара</a>
            <div class="city-list-item city-list-separator"><div></div></div>
            <a href="#" class="city-list-item">Адыгея</a>
            <a href="#" class="city-list-item">Алтай</a>
            <a href="#" class="city-list-item">Алтайский край</a>
            <a href="#" class="city-list-item">Амурская область</a>
            <a href="#" class="city-list-item">Архангельская область</a>
            <a href="#" class="city-list-item">Астраханская область</a>
            <a href="#" class="city-list-item">Башкортостан</a>
            <a href="#" class="city-list-item">Белгородская область</a>
            <a href="#" class="city-list-item">Брянская область</a>
            <a href="#" class="city-list-item">Бурятия</a>
            <a href="#" class="city-list-item">Владимирская область</a>
            <a href="#" class="city-list-item">Волгоградская область</a>
            <a href="#" class="city-list-item">Вологодская область</a>
            <a href="#" class="city-list-item">Воронежская область</a>
            <a href="#" class="city-list-item">Воронежская область</a>
            <a href="#" class="city-list-item">Дагестан</a>
            <a href="#" class="city-list-item">Еврейская АО</a>
            <a href="#" class="city-list-item">Забайкальский край</a>
            <a href="#" class="city-list-item">Ивановская область</a>
            <a href="#" class="city-list-item">Ингушетия</a>
            <a href="#" class="city-list-item">Иркутская область</a>
            <a href="#" class="city-list-item">Кабардино-Балкария</a>
            <a href="#" class="city-list-item">Калининградская область</a>
            <a href="#" class="city-list-item">Калмыкия</a>
            <a href="#" class="city-list-item">Калужская область</a>
            <a href="#" class="city-list-item">Камчатский край</a>
            <a href="#" class="city-list-item">Карачаево-Черкесия</a>
            <a href="#" class="city-list-item">Карелия</a>
            <a href="#" class="city-list-item">Кемеровская область</a>
            <a href="#" class="city-list-item">Кировская область</a>
            <a href="#" class="city-list-item">Коми</a>
            <a href="#" class="city-list-item">Костромская область</a>
            <a href="#" class="city-list-item">Краснодарский край</a>
            <a href="#" class="city-list-item">Красноярский край</a>
            <a href="#" class="city-list-item">Крым</a>
            <a href="#" class="city-list-item">Курганская область</a>
            <a href="#" class="city-list-item">Курская область</a>
            <a href="#" class="city-list-item">Ленинградская область</a>
            <a href="#" class="city-list-item">Липецкая область</a>
            <a href="#" class="city-list-item">Магаданская область</a>
            <a href="#" class="city-list-item">Марий Эл</a>
            <a href="#" class="city-list-item">Мордовия</a>
            <a href="#" class="city-list-item">Московская область</a>
            <a href="#" class="city-list-item">Мурманская область</a>
            <a href="#" class="city-list-item">Ненецкий АО</a>
            <a href="#" class="city-list-item">Нижегородская область</a>
            <a href="#" class="city-list-item">Новгородская область</a>
            <a href="#" class="city-list-item">Новосибирская область</a>
            <a href="#" class="city-list-item">Омская область</a>
            <a href="#" class="city-list-item">Оренбургская область</a>
            <a href="#" class="city-list-item">Орловская область</a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <div class="modal-additional-row dark">
        Если Вы не нашли Вашего города, свяжитесь с нами с помощью
        <span class="modal-link modal-link-blue open-feedback-modal-btn"> формы обратной связи</span>
      </div>
    </div>
  </div>
</div>
