<div id="city-selector-modal" class="modal">
  <div class="modal-content change-city">
    <span class="close">&times;</span>
    <div class="content">
      <h4>Выбор города</h4>
      <div class="input-search-gray">
        <input class="input search" type="text" placeholder="Поиск по названию города">
        <i class="icon-search"></i>
      </div>
      <div class="scroll-block cities">
        <div class="column">
          <span><a href="#">Москва</a></span>
          <span><a href="#">Санкт-Петербург</a></span>
          <span><a href="#">Екатеринбург</a></span>
          <span><a href="#">Новосибирск</a></span>
          <span><a href="#">Нижний Новгород</a></span>
          <span><a href="#">Казань</a></span>
          <span><a href="#">Челябинск</a></span>
          <span><a href="#">Омск</a></span>
          <span><a href="#">Самара</a></span>
          <span><a href="#">Адыгея</a></span>
          <span><a href="#">Алтай</a></span>
          <span><a href="#">Алтайский край</a></span>
          <span><a href="#">Амурская область</a></span>
          <span><a href="#">Архангельская область</a></span>
          <span><a href="#">Астраханская область</a></span>
          <span><a href="#">Башкортостан</a></span>
          <span><a href="#">Белгородская область</a></span>
          <span><a href="#">Брянская область</a></span>
          <span><a href="#">Бурятия</a></span>
          <span><a href="#">Владимирская область</a></span>
          <span><a href="#">Волгоградская область</a></span>
          <span><a href="#">Вологодская область</a></span>
          <span><a href="#">Воронежская область</a></span>
          <span><a href="#">Дагестан</a></span>
          <span><a href="#">Еврейская АО</a></span>
          <span><a href="#">Забайкальский край</a></span>
          <span><a href="#">Ивановская область</a></span>
          <span><a href="#">Ингушетия</a></span>
          <span><a href="#">Иркутская область</a></span>
          <span><a href="#">Кабардино-Балкария</a></span>
          <span><a href="#">Калининградская область</a></span>
          <span><a href="#">Калмыкия</a></span>
          <span><a href="#">Калужская область</a></span>
          <span><a href="#">Камчатский край</a></span>
          <span><a href="#">Карачаево-Черкесия</a></span>
          <span><a href="#">Карелия</a></span>
          <span><a href="#">Кемеровская область</a></span>
          <span><a href="#">Кировская область</a></span>
          <span><a href="#">Коми</a></span>
          <span><a href="#">Костромская область</a></span>
          <span><a href="#">Краснодарский край</a></span>
          <span><a href="#">Красноярский край</a></span>
          <span><a href="#">Крым</a></span>
          <span><a href="#">Курганская область</a></span>
          <span><a href="#">Курская область</a></span>
          <span><a href="#">Ленинградская область</a></span>
          <span><a href="#">Липецкая область</a></span>
          <span><a href="#">Магаданская область</a></span>
          <span><a href="#">Марий Эл</a></span>
          <span><a href="#">Мордовия</a></span>
          <span><a href="#">Московская область</a></span>
          <span><a href="#">Мурманская область</a></span>
          <span><a href="#">Ненецкий АО</a></span>
          <span><a href="#">Нижегородская область</a></span>
          <span><a href="#">Новгородская область</a></span>
          <span><a href="#">Новосибирская область</a></span>
          <span><a href="#">Омская область</a></span>
          <span><a href="#">Оренбургская область</a></span>
          <span><a href="#">Пензенская область</a></span>
          <span><a href="#">Пермский край</a></span>
          <span><a href="#">Приморский край</a></span>
          <span><a href="#">Псковская область</a></span>
          <span><a href="#">Ростовская область</a></span>
          <span><a href="#">Рязанская область</a></span>
          <span><a href="#">Самарская область</a></span>
          <span><a href="#">Саратовская область</a></span>
          <span><a href="#">Саха (Якутия)</a></span>
          <span><a href="#">Сахалинская область</a></span>
          <span><a href="#">Свердловская область</a></span>
          <span><a href="#">Северная Осетия — Алания</a></span>
          <span><a href="#">Смоленская область</a></span>
          <span><a href="#">Ставропольский край</a></span>
          <span><a href="#">Тамбовская область</a></span>
          <span><a href="#">Татарстан</a></span>
          <span><a href="#">Тверская область</a></span>
          <span><a href="#">Томская область</a></span>
          <span><a href="#">Тульская область</a></span>
          <span><a href="#">Тюменская область</a></span>
          <span><a href="#">Удмуртия</a></span>
          <span><a href="#">Ульяновская область</a></span>
          <span><a href="#">Хабаровский край</a></span>
          <span><a href="#">Хакасия</a></span>
          <span><a href="#">Ханты-Мансийский АО</a></span>
          <span><a href="#">Челябинская область</a></span>
          <span><a href="#">Чечня</a></span>
          <span><a href="#">Чувашия</a></span>
          <span><a href="#">Чукотский АО</a></span>
          <span><a href="#">Ямало-Ненецкий АО</a></span>
          <span><a href="#">Ярославская область</a></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span class="social-title">Если Вы не нашли Вашего города, свяжитесь с нами с
        помощью <span class="open-feedback-modal-btn">формы обратной связи</span></span>
    </div>
  </div>
</div>