<div class="modal" id="feedback-modal">
  <div class="modal-dialog">
    <button class="close-modal"></button>
    <div class="modal-content">
      <div class="modal-content__title"> Написать нам</div>
      <form class="form__modal" action="#" method="post">
        <div class="modal-content__fields">
          <div class="modal-content__field"><input type="text" placeholder="Имя" required="required"/></div>
          <div class="modal-content__field"><input type="email" placeholder="E-mail" required="required"/></div>
          <div class="modal-content__field"><textarea placeholder="Вопрос"></textarea></div>
          <div class="modal-content__field"><input class="btn__style" type="submit" value="Отправить"/></div>
          <div class="modal-content__field modal-content__descr">Отправляя запрос Вы соглашаетесь с « <a href="#">Пользовательским
              соглашением</a>»,«<a href="#">Политикой платных услуг</a>»,и обработкой персональных данных в
            соответствии c «<a href="#">Политикой конфиденциальности</a>»
          </div>
        </div>
      </form>
    </div>
  </div>
</div>