<div id="feedback-modal" class="auth-modal modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content">
      <h4>Написать нам</h4>
      <form class="form-auth send" action="{{ path('ajax.feedback.index') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('feedback') }}">
        <input class="input" type="text" placeholder="Имя" name="author_name">
        <input class="input" type="email" placeholder="E-mail" name="email">
        <textarea class="textarea" placeholder="Вопрос" id="" cols="30" rows="5" name="text"></textarea>
        <button class="button-red" type="submit">Отправить</button>
        <span class="reg-info">
          Отправляя запрос Вы соглашаетесь
          с «<a href="#">Пользовательским соглашением</a>»,
          «<a href="#">Политикой платных услуг</a>» и обработкой персональных данных в соответствии с
          «<a href="#">Политикой конфиденциальности</a>»
        </span>
      </form>
    </div>
  </div>
</div>
