{% include 'components/modals/alert.html.twig' %}
{% include 'components/modals/login.html.twig' %}
{% include 'components/modals/reset.passorder.html.twig' %}
{% include 'components/modals/new.password.html.twig' %}
{% include 'components/modals/register.form.html.twig' %}
{% include 'components/modals/feedback.html.twig' %}
{% include 'components/modals/city-selector.html.twig' %}




<div id="reject" class="answer-modal modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content">
      <h4>Отклонить заявку</h4>
      <div class="textarea-box">
        <textarea class="textarea" rows="5" placeholder="Укажите причину отказа"></textarea>
      </div>
      <button class="button-red">Отклонить заявку</button>
    </div>
  </div>
</div>

<div id="answer" class="answer-modal modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content">
      <h4>Ответ на вопрос</h4>
      <p class="text">
        <strong class="blue">Вопрос</strong> : Скажите пожалуйста, диплом по данной программе будет государственного
        образца?
      </p>
      <div class="textarea-box">
        <textarea class="textarea" rows="5" placeholder="Введите текст ответа"></textarea>
      </div>
      <button class="button-red">Отправить ответ</button>
    </div>
  </div>
</div>

<div id="to-review" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content">
      <h4>Ответить на отзыв</h4>
      <div class="textarea-box">
        <textarea class="textarea" rows="5" placeholder="Введите текст ответа"></textarea>
      </div>
      <button class="button-red">Отправить ответ</button>
    </div>
  </div>
</div>

<div id="about-rate" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content">
      <p class="text">Чтобы писать ответы на отзывы необходимо приобрести тариф Pro. Цена 1990 руб. с НДС в месяц</p>
      <div class="buttons d-flex">
        <button class="button-red">Отменить</button>
        <button class="button-blue">Купить</button>
      </div>

    </div>
  </div>
</div>

<div id="insufficient" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content">
      <p class="text">На вашем счету недостаточно средств</p>
      <div class="buttons d-flex">
        <button class="button-red">Отменить</button>
        <button class="button-blue">Пополнить</button>
      </div>

    </div>
  </div>
</div>