<div id="login-modal" class="modal login">
  <div class="modal-content">
    <div class="modal-body">
      <h6>Вход на сайт</h6>
      <form method="post" action="{{ path('ajax.auth.login') }}" class="modal-form">
        <span class="error"></span>
        <div class="modal-form-raw">
          <input type="email" value="" name="email" id="login-email" class="input" required autofocus placeholder="E-mail">
        </div>
        <div class="modal-form-raw">
          <input type="password" name="password" minlength="6" id="login-password" class="input" required placeholder="Пароль">
        </div>
        <div class="modal-form-raw">
          <input type="checkbox" name="remember" id="login-remember">
          <label for="login-remember" class="checkbox">Запомнить пароль</label>
        </div>
        <button type="submit" class="btn btn-red">Войти</button>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}">
      </form>
      <div class="login-register-container">
        <span>или&nbsp;</span>
        <span class="login-register-link">Зарегистрироваться</span>
      </div>
      <div class="login-forgot-password-container">
        <span>Если вы забыли пароль, то можете</span>
        <span class="login-forgot-password-link">восстановить его</span>
      </div>
    </div>
    <div class="modal-footer">
      <span>Войти через социальные сети:</span>
      <div class="login-social">
        {% for key, link in socialLinks %}
          <a href="{{ link }}">{{ key }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
