<div class="modal" id="login-modal">
  <div class="modal-content">
    <div class="modal-body">
      <button class="close-modal"></button>
      <h2>Вход на сайт</h2>
      <form action="{{ path('ajax.auth.login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('login') }}">
        <div class="modal-form-field">
          <input type="email" name="email" placeholder="E-mail" required="required"/>
        </div>
        <div class="modal-form-field">
          <input type="password" name="password" placeholder="Пароль" required="required"/>
        </div>
        <div class="modal-field-checkbox">
          <label for="remember">Запомнить пароль
            <input type="checkbox" value="on" checked="checked" name="remember" id="remember"/>
            <span class="checkmark"></span>
          </label>
        </div>
        <button class="btn btn-red" type="submit">Войти</button>
      </form>
      <div class="modal-additional-content">
        <div class="modal-additional-row dark">
          или&nbsp;
          <span class="modal-link modal-link-blue login-register-link">Зарегистрироваться</span>
        </div>
        <div class="modal-additional-row">
          Если вы забыли пароль, то можете&nbsp;
          <span class="modal-link modal-link-red login-forgot-password-link">восстановить его</span>
        </div>
      </div>
    </div>

    {% include 'components/modals/social.auth.html.twig' with { 'socialLinks': getSocialAuthLinks() } %}
  </div>
</div>
