<a class="new-message-modal" href="{{ path('site.profile', { path: 'messages' }) }}">
  <div class="new-message-header">
    Новое сообщение!
  </div>
  <div class="content">
    <div class="avatar">
      <img class="rounded" src="../../../img/photo.jpg" alt="">
    </div>
    <div class="message-info">
      <span class="author">
      </span>
      <div class="message-text"></div>
    </div>
  </div>
</a>