<div id="new-password-modal" class="auth-modal modal {{ (app.request.get('reset_password') and not app.user) ? 'active' : '' }}">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content restore-pass">
      <h4>Сбросить пароль</h4>
      <form class="form-auth" action="{{ path('ajax.auth.new.password') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new-password') }}">
        <input type="hidden" name="token" value="{{ app.request.get('token') }}">
        <span class="modal-error"></span>
        <input class="input" type="password" value="" minlength="6" name="password" id="new-password-password" required placeholder="Введите пароль">
        <input class="input" type="password" value="" name="confirm-password" id="new-password-confirm-password" required placeholder="Повторите пароль">
        <button class="button-red" type="submit">Сбросить пароль</button>
      </form>
    </div>
  </div>
</div>
