<div id="new-password-modal" class="modal {{ (app.request.get('reset_password') and not app.user) ? 'modal-active' : '' }}">
  <div class="modal-content">
    <div class="modal-body">
      <h6>Сбросить пароля</h6>
      <form method="post" action="{{ path('ajax.auth.new.password') }}" class="modal-form">
        <span class="error"></span>
        <div class="modal-form-raw">
          <input class="input" type="password" value="" minlength="6" name="password" id="new-password-password" required placeholder="Введите пароль">
        </div>
        <div class="modal-form-raw">
          <input class="input" type="password" value="" name="confirm-password" id="new-password-confirm-password" required placeholder="Повторите пароль">
        </div>
        <button type="submit" class="btn btn-red">Сбросить пароль</button>
        <input type="hidden" name="token" value="{{ app.request.get('token') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new-password') }}">
      </form>
    </div>
  </div>
</div>
