<div class="modal  {{ (app.request.get('reset_password') and not app.user) ? 'active' : '' }}" id="new-password-modal">
  <div class="modal-content">
    <div class="modal-body modal-body-without-footer">
      <button class="close-modal"></button>
      <h2>Сбросить пароля</h2>
      <form method="post" action="{{ path('ajax.auth.new.password') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('new-password') }}">
        <input type="hidden" name="token" value="{{ app.request.get('token') }}">
        <span class="modal-error"></span>
        <div class="modal-form-field">
          <input class="input" type="password" value="" minlength="6" name="password" id="new-password-password" required placeholder="Введите пароль">
        </div>
        <div class="modal-form-field">
          <input class="input" type="password" value="" name="confirm-password" id="new-password-confirm-password" required placeholder="Повторите пароль">
        </div>
        <button class="btn btn-red" type="submit">Сбросить пароль</button>
      </form>
    </div>
  </div>
</div>
