<div class="modal" id="register-role-modal">
  <div class="modal-content">
    <div class="modal-body modal-body-without-footer">
      <button class="close-modal"></button>
      <h2>Выберите тип аккаунта</h2>
      <div class="modal-form-field">
        <button class="btn btn-red" id="register-user-button">Обучающийся</button>
      </div>
      <div class="modal-form-field">
        <button class="btn btn-blue" id="register-provider-button">Образовательное учреждение</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="register-modal">
  <div class="modal-content">
    <div class="modal-body">
      <button class="close-modal"></button>
      <h2>Регистрация на сайте</h2>
      <form method="post" action="{{ path('ajax.auth.register') }}" class="modal-form">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">
        <input type="hidden" name="role">

        <div class="modal-form-field">
          <input type="email" name="email" placeholder="E-mail" required="required"/>
        </div>
        <div class="modal-form-field">
          <input type="password" name="password" placeholder="Пароль" required="required"/>
        </div>
        <div class="modal-form-field">
          <input type="password" name="confirm-password" placeholder="Повторите пароль" required="required"/>
        </div>
        <button class="btn btn-red" type="submit">Зарегистрироваться</button>
      </form>
      <div class="modal-additional-content">
        <div class="modal-additional-row">
          Нажимая на кнопку «Зарегистрироваться» Вы
          соглашаетесь с « <a class="modal-link modal-link-blue" href="#">Пользовательским соглашением</a>»,«<a
            class="modal-link modal-link-blue" href="#">Политикой платных услуг</a>»,и
          обработкой персональных данных в соответствии c «<a class="modal-link modal-link-blue" href="#">Политикой конфиденциальности</a>»
        </div>
      </div>
    </div>

    {% include 'components/modals/social.auth.html.twig' with { 'socialLinks': getSocialAuthLinks() } %}
  </div>
</div>
