<div class="modal modal_4" id="register-role-modal">
  <div class="modal-dialog">
    <button class="close-modal"></button>
    <div class="modal-content">
      <div class="modal-content__title"> Выберите тип аккаунта</div>
      <div class="modal-content__fields">
        <div class="modal-content__field">
          <input id="register-user-button" class="btn__style-blue" type="submit" value="Обучающийся"/>
        </div>
        <div class="modal-content__field">
          <input id="register-provider-button" class="btn__style" type="submit" value="Образовательное учреждение"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="register-modal">
  <div class="modal-dialog">
    <button class="close-modal"></button>
    <div class="modal-content">
      <div class="modal-content__title"> Регистрация на сайте</div>
      <form method="post" action="{{ path('ajax.auth.register') }}" class="modal-form">
        <div class="modal-content__fields">
          <div class="modal-content__field">
            <input type="email" name="email" placeholder="E-mail" required="required"/>
          </div>
          <div class="modal-content__field">
            <input type="password" name="password" placeholder="Пароль" required="required"/>
          </div>
          <div class="modal-content__field">
            <input type="password" name="confirm-password" placeholder="Повторите пароль" required="required"/>
          </div>
          <div class="modal-content__field">
            <input class="btn__style" type="submit" value="Зарегистрироваться"/>
          </div>
          <div class="modal-content__field modal-content__descr">Нажимая на кнопку «Зарегистрироваться» Вы
            соглашаетесь с « <a href="#">Пользовательским соглашением</a>»,«<a href="#">Политикой платных услуг</a>»,и
            обработкой персональных данных в соответствии c «<a href="#">Политикой конфиденциальности</a>»
          </div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">
        <input type="hidden" name="role">
      </form>
      {% include 'components/modals/social.auth.html.twig' with { 'socialLinks': getSocialAuthLinks() } %}
    </div>
  </div>
</div>