<div class="modal" id="forgot-password-modal">
  <div class="modal-content">
    <div class="modal-body modal-body-without-footer">
      <button class="close-modal"></button>
      <h2>Восстановление пароля</h2>
      <form method="post" action="{{ path('ajax.auth.reset.password') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}">
        <span class="modal-error"></span>
        <div class="modal-form-field">
          <input type="email" name="email" placeholder="E-mail" required="required"/>
        </div>
        <button class="btn btn-red" type="submit">Восстановить пароль</button>
      </form>
    </div>
  </div>
</div>
