<div class="modal" id="forgot-password-modal">
  <div class="modal-dialog">
    <button class="close-modal"></button>
    <div class="modal-content">
      <div class="modal-content__title"> Восстановление пароля</div>
      <form method="post" action="{{ path('ajax.auth.reset.password') }}">
        <div class="modal-content__fields">
          <div class="modal-content__field">
            <input type="email" placeholder="E-mail" name="email" required="required"/>
          </div>
          <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}">
          <div class="modal-content__field">
            <input class="btn__style" type="submit"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
