<div id="forgot-password-modal" class="auth-modal modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content restore-pass">
      <h4>Восстановление пароля</h4>
      <form class="form-auth" action="{{ path('ajax.auth.reset.password') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}">
        <span class="modal-error"></span>
        <input class="input" type="email" placeholder="E-mail" name="email" required="required">
        <button class="button-red" type="submit">Восстановить пароль</button>
      </form>
    </div>
  </div>
</div>
