{#<div class="modal-footer">#}
{#  <div class="modal-footer-content">#}
{#    <h2>Войти через социальные сети:</h2>#}
{#    <div class="modal-social">#}
{#      {% for alias, link in socialLinks %}#}
{#        <div class="modal-social-link">#}
{#          <a class="modal-social-link-{{ alias }}" href="{{ link }}"></a>#}
{#        </div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  </div>#}
{#</div>#}


<div class="modal-footer">
  <span class="social-title">Войти через социальные сети:</span>
  <ul>
    <li><a href="#"><img src="/img/svg/vk.svg" alt=""></a></li>
    <li><a href="#"><img src="/img/svg/ok.svg" alt=""></a></li>
    <li><a href="#"><img src="/img/svg/facebook.svg" alt=""></a></li>
    <li><a href="#"><img src="/img/svg/google-plus.svg" alt=""></a></li>
  </ul>
</div>
