<div class="modal-footer">
  <div class="modal-footer-content">
    <h2>Войти через социальные сети:</h2>
    <div class="modal-social">
      {% for alias, link in socialLinks %}
        <div class="modal-social-link">
          <a class="modal-social-link-{{ alias }}" href="{{ link }}"></a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
