.btn {
  padding: 8px 20px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #fff;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;

  &.create {
    background: transparent;
    color: #74788d;
    border: 1px solid #e8ecfa;

    &:hover {
      background-color: #007bff;
      color: #fff;
    }
  }

  &.primary {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.success {
    background-color: #1dc9b7;

    &:hover {
      background-color: rgb(24, 168, 153);
    }
  }

  &.danger {
    background-color: #fd397a;

    &:hover {
      background-color: #fd1361;
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}
