.select {
  z-index: 99999;
  width: 100%;
  color: #777;
  font-weight: 300;
  background-color: #fff;
  border: 1px solid #e2e5ec;
  border-radius: 3px;
  position: relative;

  &.small {
    width: 61px;
  }

  &.medium {
    width: 200px;
  }

  &.large {
    width: 300px;
  }

  .selected-option {
    height: 30px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }

  .option-container {
    position: relative;
    display: none;
  }

  ul {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0 0 0 -1px;
    width: calc(100% + 2px);
    background-color: #fff;
    border: 1px solid #e2e5ec;
    overflow: scroll;
    max-height: 0;
    border-radius: 0 0 3px 3px;
    transition: all 0.2s ease-in-out;

    li {
      position: relative;
      float: left;
      width: 100%;
      border-bottom: 1px solid #fafbfc;
      padding: 10px 10px;
      cursor: pointer;

      &:last-child {
        border-radius: 3px;
        border-bottom: 0;
      }

      &:hover, &.active {
        background-color: #fafbfc;
      }
    }
  }

  .icon {
    position: absolute;
    top: 4px;
    right: 2%;
    transition: all 275ms;
  }


  &.opened {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    ul {
      max-height: 200px;
    }

    .icon {
      transform: rotate(180deg);
    }

    .option-container {
      display: block;
    }
  }
}
