@import "~react-quill/dist/quill.snow.css";

.ql-tooltip {
  z-index: 9999999;
}

.ql-editor {
  color: #495057;
  font-weight: 400;
}

.ql-toolbar {
  border: 1px solid #e2e5ec !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ql-container {
  border: 1px solid #e2e5ec !important;
  border-top: none !important;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}