<div class="header__content">
  <div class="container">
    <div class="col-lg-12">
      <div class="header__content-container">
        <div class="header__content-description">
          <h1>
            <strong>SkillGrad</strong> - агрегатор провайдеров обучения и образовательных
            программ дополнительного профессионального образования
          </h1>
        </div>
        <form class="w-100" action="{{ path('app.search') }}">
          <div class="header__content-search input-search">
            <input type="text" name="q" value="{{ app.request.get('q') }}" placeholder="Что бы вы хотели изучить?">
            <i class="icon-search"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="header__bottom">
  <div class="container">
    <div class="col-lg-4 col-sm-4 col-md-12">
      <div class="header__bottom-container">
        <div class="header__bottom-icon">
          <img src="/img/stationery.png" alt="">
        </div>
        <div class="text">
          Гигантский выбор высокопрофессиональных программ обучения по более чем 30
          направлениям!
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-12">
      <div class="header__bottom-container">
        <div class="header__bottom-icon">
          <img src="/img/feedback.png" alt="">
        </div>
        <div class="text">
          Доступность информации
          и развернутые оценки обучившихся
          не дадут ошибиться в выборе
          и гарантируют качественный результат

        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-md-12">
      <div class="header__bottom-container">
        <div class="header__bottom-icon">
          <img src="/img/case-study.svg" alt="">
        </div>
        <div class="text">
          Расширенный поиск и умная система фильтров позволяют легко и
          быстро находить нужную программу обучения
        </div>
      </div>
    </div>
  </div>
</div>
