<div class="header__content">
  <div class="container">
    <div class="col-lg-12">
      <div class="header__content-container">
        <div class="header__content-description">
          <h1>
            <strong>SkillGrad</strong> - агрегатор провайдеров обучения и образовательных
            программ дополнительного профессионального образования
          </h1>
        </div>
        <form class="w-100" action="{{ path('app.search') }}">
          <div class="header__content-search input-search">
            <input type="text" name="q" value="" placeholder="Что бы вы хотели изучить?">
            <i class="icon-search"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
