td.actions {
  width: 1%;
  min-width: 4.602vw;

  .wrap {
    display: flex;
    justify-content: space-evenly;

    .item {
      margin-right: .39vw;
      cursor: pointer;

      i {
        color: #5d78ff;
        float: right;
      }
    }
  }
}
