tbody {
  & tr:hover {
    color: #212529;
    background-color: #fafbfc;
  }

  td.numbering {
    width: 1px;
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
    font-size: 11px;
    opacity: 0.6;
  }
}
