.table-body {
  & tr:hover {
    color: #212529;
    background-color: #fafbfc;
  }

  td.numbering {
    width: 1px;
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
    font-size: .429vw;
    opacity: 0.6;
  }

  .boolean {
    text-align: center;
    span {
      padding: .195vw .585vw;
      border-radius: 3.9vw;
      color: #fafbfc;
      font-weight: 400;

      &.true {
        background-color: #1dc9b7;
      }

      &.false {
        background-color: #fd397a;
      }
    }
  }

  img {
    max-height: 3.51vw;
  }
}
