thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ebedf2;
  position: relative;

  &.orderable {
    cursor: pointer;

    &::before, &::after {
      bottom: .75rem;
      content: "\2191";
      position: absolute;
      display: block;
      opacity: 0.3;
    }

    &::before {
      right: 1em;
      content: "\2191";
    }

    &::after {
      right: 0.5em;
      content: "\2193";
    }

    &.asc::before {
      opacity: 1;
    }

    &.desc::after {
      opacity: 1;
    }
  }
}
