table {
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  background-color: null;
  border: 1px solid #dee2e6;

  &.disabled {
    opacity: 0.5;
  }

  .numbering {
    width: 1px;
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
    font-size: 11px;
    opacity: 0.6;
  }

  .actions {
    width: 1%;
    min-width: 118px;

    .wrap {
      display: flex;

      i {
        color: #5d78ff;
      }

      .item {
        margin-right: 10px;
      }
    }
  }

  i {
    float: right;
  }

  .hidden {
    visibility: hidden;
  }

  & th, & td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    border: 1px solid #dee2e6;
  }

  & thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-bottom-width: 2px;
  }

  & tbody + tbody {
    border-top: 2px solid #dee2e6;
  }

  & tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }
}
