{% include 'components/header/modals.html.twig' %}
<header class="header">
  <div class="container">
    <div class="wrap {{ app.user ? 'header-autorization' : '' }}">
      <a class="logo" href="{{ path('site.index') }}">
        <img src="/img/LogoSkillGrad-b.svg" alt="logo"/>
      </a>
      <div class="logo__mobile">
        <img src="/img/logo_mobile.png" alt="logo"/>
      </div>
      {% include 'components/header/menu.html.twig' %}


      <div class="header__btns">
        <div class="location">
          <div class="header__btns-link open-city-selector-modal-btn">
            <img src="/img/005-place.svg"/>
          </div>
          <span class="location__text">Ваш город:</span>
          <a class="location-city open-city-selector-modal-btn">Нижний Новгород</a>
        </div>


        <div class="header__btns-item">
          {% if app.user is not null %}
            <a class="header__btns-link header__btn-favourite" href="#">
              <span class="add__favourite">5</span>
            </a>
          {% endif %}
          <a class="header__add-icon header__btns-link" href="#">
            <span class="add__qty">12</span>
          </a>
        </div>

        {% if app.user is not null %}
        <div class="header__btns-item header__btns-autorization header-lc">
          <a class="header__btns-link header-lc__profile" href="#"></a>
          <span class="header-lc__descr">Добро пожаловать,<br/>
            <a href="#">{{ app.user ? app.user.username : '' }}</a>
          </span>
          {% if is_granted('ROLE_PROVIDER') %}
            {% include 'components/header/provider.dropdown.html.twig' %}
          {% else %}
            {% include 'components/header/user.dropdown.html.twig' %}
          {% endif %}
        </div>
        {% else %}
          <div class="header__btns-item header__btns-autorization">
            <div class="header__btns-link icon-profile open-login-modal-btn">
              <img src="/img/008-arrow.svg"/>
            </div>
            <span class="header__btns-desc header-profile__name">
            <a class="header__login open-login-modal-btn">Вход</a>
            <a class="header__login open-register-modal-btn">Регистрация</a></span>
          </div>
        {% endif %}
      </div>

    </div>
  </div>
</header>
