<div class="categories-nav">
  <button class="categories-nav__title categories__button">Категории</button>
  <ul class="categories-nav__list">
    <div class="scrollbar" id="style-1">
      <div class="force-overflow"></div>
    </div>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Архитектура и
        строительство</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Безопасность и военное
        дело</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Гуманитарные науки</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Дизайн</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Информационные
        технологии</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Искусство и
        творчество</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">История и
        культурология</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Кулинария и
        гастрономия</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Маркетинг</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Медиа и коммуникации</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Медицина</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Мода и красота</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Наука о земле</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link"
                                             href="#">Офис,делопроизводство</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
    <li class="categories-nav__list-item"><a class="categories-nav__list-link" href="#">Педагогика и
        психология</a>
      <div class="categories-nav__list-submenu">
        <ul class="categories-nav__list-submenu-items">
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                История</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Культурология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Лингвистика</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Литература</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Обществознание</a></li>
          </div>
          <div class="categories-nav__list-submenu-col">
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Антропология и этнология</a></li>
            <li class="categories-nav__list-submenu-item"><a class="categories-nav__list-submenu-link" href="#">
                Искусствоведение </a></li>
          </div>
        </ul>
      </div>
    </li>
  </ul>
</div>
