<div class="categories-menu">
  <button class="categories-menu-btn">Категории</button>
  <div class="categories-container">
    <ul class="categories-list">
      {% for i in 1..20 %}
        <li class="categories-item">
          <a class="categories-root-link" href="#">Архитектура и
            строительство
          </a>
          <div class="categories-submenu">
            <ul class="categories-submenu-col">
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Антропология и этнология
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Искусствоведение
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  История
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Культурология
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Лингвистика
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Литература
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Обществознание
                </a>
              </li>
            </ul>
            <ul class="categories-submenu-col">
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Антропология и этнология
                </a>
              </li>
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="#">
                  Искусствоведение
                </a>
              </li>
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
