<div class="categories-menu">
  <button class="categories-menu-btn">Категории</button>
  <div class="categories-container">
    <ul class="categories-list">
      {% for menuItem in getMenuItems() %}
        <li class="categories-item">
          <a class="categories-root-link" href="#">{{ menuItem.name }}</a>
          <div class="categories-submenu">
            <ul class="categories-submenu-col">
              {% for childCategory in menuItem.childCategories %}
              <li class="categories-submenu-item">
                <a class="categories-submenu-link" href="{{ path('catalog.view', {slug: childCategory.slug }) }}">
                  {{ childCategory.name }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
