<ul class="">
    <li class="">
        <a href="{{ path('site.profile', { path: 'settings' }) }}">Настройки профиля</a>
    </li>
    <li class="">
        <a href="{{ path('site.profile', { path: 'messages' }) }}">Сообщения</a>
    </li>
    <li class="">
        <a href="{{ path('site.profile', { path: 'training' }) }}">Мое обучение</a>
    </li>
    <li class="">
        <a href="{{ path('ajax.auth.logout') }}">Выйти</a>
    </li>
</ul>
