<ul class="header-dropdown">
  <li class="header-dropdown-item">
    <img src="/img/028-gear.svg"/>
    <a class="header-dropdown-link" href="{{ path('site.profile', { path: 'settings' }) }}">
      Настройки профиля
    </a>
  </li>
  <li class="header-dropdown-item">
    <img src="/img/031-email.svg"/>
    <a class="header-dropdown-link" href="{{ path('site.profile', { path: 'messages' }) }}">
      Сообщения
    </a>
    <div class="header-dropdown-item-tooltip">10</div>
  </li>
  <li class="header-dropdown-item">
    <img src="/img/028-gear.svg"/>
    <a class="header-dropdown-link" href="{{ path('site.profile', { path: 'training' }) }}">
      Мое обучения
    </a>
  </li>
  <li class="header-dropdown-item">
    <img src="/img/033-out.svg"/>
    <div class="header-dropdown-link logout-link">Выйти</div>
  </li>
</ul>
