<div id="comment-edit-popup" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content pb-20">
      <h4>Редактирование комментария</h4>
      <textarea class="textarea" placeholder="Текст сообщения" id="" cols="30" rows="5" name="text"></textarea>
      <button class="button-blue login-btn">Сохранить</button>
    </div>
  </div>
</div>

<div id="comment-answer-popup" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div class="content pb-20">
      <h4>Ответ на комментарий</h4>
      <textarea class="textarea" placeholder="Текст сообщения" id="" cols="30" rows="5" name="text"></textarea>
      <button class="button-blue login-btn">Ответить</button>
    </div>
  </div>
</div>
