.auth-form {
  h6 {
    font-size: 1.7vw;
    margin: 0 0 20px;
    font-weight: 100;
  }

  &-raw {
    margin-bottom: 15px;
    display: flex;

    input {
      width: 100%;
      font-size: 0.8vw;
      border-radius: 7px;
      border: 1px solid #cbcbcb;
      padding: 5px 10px;
    }
  }

  button {
    font-size: 0.8vw;
    color: #cbcbcb;
    background: linear-gradient(180deg, rgb(230, 87, 68), rgb(232, 96, 51));
    border-radius: 100px;
    border: none;
    padding: 14px 32px;
  }

  &-social {
    margin-top: 20px;
  }
}

.profile-info {
  display: none;
}

.auth {
  .login-form {
    display: none;
  }

  .profile-info {
    display: flex;
    flex-direction: column;
  }
}

.profile-dropdown {
  position: absolute;
  top: 74px;
  background-color: #fff;
  left: 0;
  box-shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
  transition: visibility 0s, opacity 0.1s ease-out;
  opacity: 1;
  visibility: visible;
}