{% extends 'layouts/admin.base.html.twig' %}

{% block content %}
  <div class="">
    <div class="alert alert-danger fade show" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      <div class="alert-text">Мы не смогли найти страницу, которую вы искали!</div>
    </div>
  </div>
{% endblock %}
