{% extends '@FourPawsAdmin/layout.twig' %}

{% block content %}
  <div class="kt-container kt-container--fluid kt-grid__item kt-grid__item--fluid mt-3">
    <div class="alert alert-danger fade show" role="alert">
      <i class="fas fa-exclamation-triangle"></i>
      <div class="alert-text">Мы не смогли найти страницу, которую вы искали!</div>
    </div>
  </div>
{% endblock %}
