*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #646c9a;
  background-color: #f2f3f8;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.15;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Poppins, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

form {
  margin: 0;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  font-weight: 300;
}

ul {
  list-style-type: none;
}

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


/////////

.portlet {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 4px;

  .body {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-radius: 4px;
  }

  &.w-50 {
    width: 50%;
  }
}

.btn {
  padding: 8px 20px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #fff;
  border-radius: .25rem;
  text-transform: uppercase;
  cursor: pointer;

  &.create {
    background: transparent;
    color: #74788d;
    border: 1px solid #e8ecfa;

    &:hover {
      background-color: #5d78ff;
      color: #fff;
    }
  }

  &.primary {
    background-color: #007bff;

    &:hover {
      background-color: #0056b3;
    }
  }

  &.success {
    background-color: #1dc9b7;

    &:hover {
      background-color: rgb(24, 168, 153);
    }
  }
}
