*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: #646c9a;
  background-color: #f2f3f8;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.15;
  text-align: left;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Poppins, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

form {
  margin: 0;
}

table {
  border-collapse: collapse;
  font-size: 13px;
  font-weight: 300;

  & th, & td {
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #dee2e6;
  }

  a {
    color: #5d78ff;
  }

  img {
    max-height: 240px;
  }
}

ul {
  list-style-type: none;
}

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
