.banner-home {
  position: relative;
  height: 65vh;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to right, rgba(#0a2237, 0.7), rgba(#0a2237, 0.7)), url(../../img/banner__bg.png);
  background-size: cover;
  background-position: -50% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  @media(max-width: 991px){
    height: 100vh;
  }
  @media(max-width: 767px){
    height: auto;
    background-position: 50% 100%;
  }

  .main-nav {
    background-color: rgba(#35485d, 0.8);
    width: 100%;
    height: 60px;

    .main-nav-wrap {
      display: flex;
      justify-content: space-between;
      height: 100%;
    }

    .main-menu-mobile{
      display: none;

      @media(max-width: 767px){
        display: flex;
        padding-left: 60px;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 700;
      }
      span.main-menu-icon{
        content: " ";
        width: 100%;
        height: 60px;
        left: 40px;
        top: 10px;
        display: block;
        position: absolute;
        background: url(../../img/035-square.svg) 0px 5px no-repeat;
      }
    }
    .main-nav-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;

      @media(max-width: 767px){
        display: none;
      }
    }

    .main-nav-link {
      color: #fff;
      font-size: 15px;
      line-height: 100%;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
        transition: all .3s;
      }
    }

    .main-nav-add-program {
      padding: 20px 30px 20px 60px;
      background: rgba(#27456a, 0.7);
      font-weight: bold;
      font-size: 15px;
      color: #fff;
      text-decoration: none;
      position: relative;

      @media(max-width: 415px){
        text-align: center;
        font-size: 1.4rem;
        width: 45%;
        padding: 15px 15 px 20px 40px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        left: 25px;
        top: 20px;
        background: url(../../img/010-add.svg) no-repeat;

        @media(max-width: 550px){
          left: 20px;
        }
      }

      &:hover {
        cursor: pointer;
        background: rgba(#8a4a41, 0.9);
        transition: all .3s;
      }
    }
  }

  .main-banner-content {
    margin-top: 70px;

    @media(max-width: 991px){
      margin-top: 30px;
    }

    @media(max-width: 550px){
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h1 {
      color: #fff;
      font-size: 3.8rem;
      line-height: 120%;
      width: 100%;
      font-weight: 300;
      margin-bottom: 42px;

      @media(max-width: 550px){
        font-size: 2.4rem
      }

      .main-banner-title {
        font-size: 3.8rem;
        font-family: "Lato-Black", sans-serif;
        font-weight: 900;

        @media(max-width: 550px){
          font-size: 2.4rem
        }
      }
    }

    form {
      position: relative;
    
      @media(max-width: 771px){
        margin-right: 15px;
        margin-left: 5px;
      }
    }

    input[type="text"] {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 30px;
      height: 50px;
      background: #fff;
      outline: 0;
      border-radius: 30px;
      border: none;
      filter: drop-shadow(0px 10px 20px rgba(5, 26, 47, 0.3));

      &::placeholder {
        color: #1d71b1;
        font-size: 18px;
        font-weight: 400;
      }
    }

    input[type="submit"] {
      cursor: pointer;
      -webkit-appearance: none;
      border: 0;
      position: absolute;
      right: 45px;
      top: 15px;
      background: url(../../img/011-search.svg) no-repeat;
      width: 20px;
      height: 20px;
      @media(max-width: 551px){
        right: 15px;
      }
    }
  }

  .main-banner-footer {
    background-color: rgba(#35485d, 0.8);
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    

    @media(max-width: 991px){
      height: auto;
    }

    @media(max-width: 767px){
      position: unset;
    }

    .main-banner-footer-items {
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;

       @media(max-width: 991px){
        padding: 35px 0;
       }

      @media(max-width: 767px){
          flex-flow: column wrap;
          padding-left: 5px;
          padding-right: 5px;
      }
      .main-banner-footer-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-right: 1px dashed #575d66;
        padding: 0 35px;

        @media(max-width: 767px){
          padding: 30px 15px;
          border-bottom: 1px dashed #b2dbff;
          border-right: none;
        }

        &:last-child {
          border-right: none;

          @media(max-width: 767px){

            border-bottom: none;
          }
        }

        .main-banner-footer-img {
          width: 15%;
          flex: 0 0 15%;
          margin-right: 15px;

          img {
            max-width: 100%;
            overflow: hidden;
            width: 100%;
          }
        }

        .main-banner-footer-text {
          font-size: 15px;
          color: #fff;
          line-height: 20px;
          font-weight: 400;
        }
      }
    }
  }
 
}