.study {
  padding: 85px 0px;
  width: 100%;

  h2 {
    width: 100%;
    text-align: center;
    color: #3c3c3c;
    font-size: 44px;
    font-weight: 700;
  }

  .study-tabs {
    margin-top: 40px;

    .study-tabs-nav {
      display: flex;
      justify-content: space-around;
      width: 100%;
      margin-bottom: 10px;
      border-bottom: 2px solid rgba(#838383, 0.4);

      .study-tabs-nav-item {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        line-height: 18px;
        color: #3c3c3c;
        padding-bottom: 10px;

        &.active {
          color: #f7562e;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 3px;
            background-color: #f7562e;
          }
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .study-tab-content {
    margin-top: 40px;

    .study-content-item {
      display: none;

      &.active {
        display: block;
      }
    }

    .study-slider {
      position: relative;

      .swiper-button {
        position: absolute;
        z-index: 9999;
        width: 50px;
        height: 34px;
        bottom: 0;
        cursor: pointer;

        &.swiper-button-prev {
          left: 0;
          background: url(../../img/018-arrow.svg) no-repeat;
        }

        &.swiper-button-next {
          right: 0;
          background: url(../../img/018-arrow.svg) no-repeat;
          transform: rotate(200grad);
        }
      }

      .study-slider-item {
        flex: 0 0 100%;
        max-width: 90%;
        width: 90%;

        .study-slider-item-header {
          height: 60px;
          padding: 15px 25px 15px 60px;
          background-color: #e9f1f7;
          position: relative;

          .study-slider-item-title {
            font-size: 12px;
            line-height: 16px;
            color: #3c3c3c;
            font-weight: 400;

            &::before {
              content: " ";
              position: absolute;
              width: 30px;
              height: 30px;
              left: 20px;
              top: 15px;
              background: url(../../img/head__icon.png) no-repeat;
            }
          }

          .card-discount {
            width: 40px;
            height: 40px;
            position: absolute;
            top: -20px;
            right: 0;
            background: url(../../img/012-discount.svg) no-repeat;
          }
        }

        .study-slider-item-body {
          padding: 15px 25px 35px;
          margin-bottom: 20px;
          filter: drop-shadow(0px 10px 20px rgba(10, 43, 74, 0.07));
          background-color: #fff;

          .study-slider-item-title {
            display: block;
            font-size: 18px;
            line-height: 24px;
            color: #3c3c3c;
            font-weight: 700;
            padding-bottom: 20px;
            text-decoration: none;

            &:hover {
              cursor: pointer;
              color: #1d71b1;
            }
          }

          .study-slider-description {
            border-top: 1px solid #cccccc;
            padding-top: 15px;
            font-size: 14px;
            line-height: 18px;
            color: #3c3c3c;
            font-weight: 400;
          }

          .study-slider-item-info {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            padding: 10px 0;

            .study-slider-info-form {
              flex: 0 1 40%;
              width: 40%;
              padding-left: 25px;
              font-size: 12px;
              line-height: 14px;
              color: #1d71b1;
              font-weight: 400;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0px;
                background: url(../../img/013-book.svg) no-repeat;
              }
            }

            .study-slider-info-length {
              flex: 0 1 30%;
              width: 30%;
              font-size: 12px;
              line-height: 14px;
              color: #1d71b1;
              font-weight: 400;
              padding-left: 20px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
                background: url(../../img/015-wall-clock.svg) no-repeat;
              }
            }

            .study-slider-info-rating {
              flex: 0 1 15%;
              width: 15%;
              font-size: 12px;
              line-height: 14px;
              color: #1d71b1;
              font-weight: 400;
              padding-left: 20px;
              position: relative;

              &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: 0;
                top: -2px;
                background: url(../../img/016-star.svg) no-repeat;
              }
            }
          }

          .study-slider-buy {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 100%;
            position: relative;

            .study-slider-buy-price {
              display: block;
              flex: 0 1 30%;
              width: 30%;
              white-space: nowrap;

              &.old {
                text-decoration: line-through;
                color: #f92e25;

                span {
                  font-size: 13px;
                  line-height: 18px;
                  color: #3d3d3d;
                  font-weight: 700;
                }
              }

              &.current {
                font-size: 18px;
                line-height: 20px;
                color: #f92e25;
                font-weight: 600;
              }
            }

            .study-slider-buy-btn {
              width: 50%;
            }

            .study-slider-buy-compare {
              position: relative;
              padding-left: 40px;

              &::before {
                content: "";
                position: absolute;
                width: 38px;
                height: 38px;
                border-radius: 19px;
                left: 0;
                background: url(../../img/compare__add.svg) 10px 10px #f5f6f8 no-repeat;
              }

              &:hover .study-slider-buy-tooltip {
                visibility: visible;
              }

              &.active::before {
                content: "";
                position: absolute;
                width: 38px;
                height: 38px;
                border-radius: 19px;
                left: 0;
                background: url(../../img/014-insurance.svg) 10px 10px #f5f6f8 no-repeat;
              }

              .study-slider-buy-tooltip {
                visibility: hidden;
                cursor: pointer;
                width: 90px;
                box-sizing: border-box;
                background-color: #fff;
                font-size: 12px;
                line-height: 14px;
                color: #3d3d3d;
                font-weight: 600;
                text-align: center;
                padding: 10px;
                position: absolute;
                filter: drop-shadow(0px 10px 10px rgba(251, 85, 25, 0.3));
                top: -60px;
                z-index: 5;
                right: -30px;

                &::after {
                  content: '';
                  width: 0;
                  position: absolute;
                  display: block;
                  height: 0;
                  top: 55px;
                  left: 50%;
                  margin-top: -8px;
                  margin-left: -8px;
                  border-left: 8px solid transparent;
                  border-right: 8px solid transparent;
                  border-top: 8px solid #fff;
                  filter: drop-shadow(0px 10px 10px rgba(251, 85, 25, 0.3));
                }
              }
            }
          }
        }
      }
    }
  }

  .study-catalog-link {
    width: 270px;
    margin: 30px auto 0;
  }
}
