.blog-description {
  position: relative;
  height: 100%;
  background-color: #1d71b1;
  color: #fff;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;

  .top {
    display: flex;
    justify-content: space-between;

    .date {
      display: flex;
    }

    i {
      font-size: 24px;
      cursor: pointer;

      &.active {
        &:before {
          color: #f92e25;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 18px;

    .view-block {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .views, .comments {
        display: flex;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .share {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: #1a5ca7;

    ul {
      display: flex;

      li {
        margin-left: 15px;
      }
    }
  }
}

.blog-content {
  .alert {
    @media (min-width: 768px) and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  .text {
    margin-top: 25px;
    margin-bottom: 25px;

    span {
      text-decoration: underline;
    }
  }

  .share {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;

    @media (min-width: 320px) and (max-width: 1023px) {
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }
  }
}

.blog-single {
  .tns-controls {
    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
    }
    bottom: 0;
    width: 89%;
  }
}