.rejected, .supported {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 600;
  line-height: 1.07;
  white-space: nowrap;

  i {
    margin-left: 10px;
    font-weight: 600;
  }
}

.rejected {
  color: #f92e25;
}

.supported {
  color: #6db4fe;
}

.button-b, .button-r {
  height: 40px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.button-b {
  background-color: #6db4fe;
}

.button-r {
  background-color: #f7562e;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  width: 100%;

  button {
    margin-right: 10px;
  }
}

.name-block {
  color: #1d71b1;
  text-decoration: underline;
}

.q-block {
  display: flex;
  position: relative;
  padding-left: 15px !important;

  &.active {
    font-weight: 600;
  }
}
