.show-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}
.no-gutter {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.mobile-no-gutter {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}
.desktop-no-gutter {
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }
}
.pos-relative {
  position: relative;
}
.mobile-gutter-4 {
  @include mobile {
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
}
.d-flex {
  display: flex;
}
.non-margin-mobile {
  @include mobile {
    margin-top: 0 !important;
  }
}
.rotate-180 {
  transform: rotate(180deg);
}
.flex-d-column {
  flex-direction: column;
}
.j-c-space-between {
  justify-content: space-between;
}
.j-c-center {
  justify-content: center;
}
.al-i-c {
  align-items: center;
}
.row {
  display: flex;
  width: 100%;
}
.fz-18 {
  font-size: 18px;
}
.w-100 {
  width: 100% !important;
}
.w-sm-100 {
  @include mobile {
    width: 100% !important;
  }
}
.w-md-100 {
  @include tablet {
    width: 100% !important;
  }
}
.w-10 {
  width: 10% !important;
}
.w-30 {
  width: 30% !important;
}
.mr-20 {
  margin-right: 20px !important;
}
.pl-15 {
  padding-left: 15px !important;
}
.ml-20 {
  margin-left: 20px !important;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}
.pr-40 {
  padding-right: 40px !important;
}
.pl-45 {
  padding-left: 45px !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-10 {
  margin-top: 10px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.pb-20{
  padding-bottom: 20px!important;
}
.border-right-3 {
  border-right: 3px solid rgba(#f2f2f2, .3);
  @include mobile {
    border: none;
  }
}
.no-border {
  border: none !important;
}
.accent {
  color: $color-accent;
}
.blue {
  font-weight: 700;
  color: #1d71b1;
}
.rounded {
  border-radius: 100%;
}
