$color-accent: #f7562e;
$color-green: #73ba04;
$primary-color: #1d71b1 !default;
$color-text: #3c3c3c;

::selection {
  background-color: $color-accent;
  color: #fff;
}

body {
  position: relative;
  min-width: 320px;
  font-size: 15px;
  line-height: 1.428571429;
  letter-spacing: normal;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  color: $color-text;
}

input, textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: $color-accent;
  }

  &:required:valid {
    border-color: $color-green;
  }
}

label {
  margin-bottom: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
