.container {
  background-color: #242939;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  width: 260px;
  max-width: 260px;
  transition: max-width 0.2s ease-out;
  overflow: hidden;

  .logo img {
    height: 50%;
  }

  &.closed {
    max-width: 80px;

    .logo {
      display: none;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 25px;
    height: 75px;
  }

  .tools-wrapper {
    display: flex;
    justify-content: flex-end;
  }
}
