.toggler {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  background: none;
  outline: none !important;
  width: 26px;
  height: 26px;
  transition: all 0.4s ease;

  span {
    display: block;
    position: absolute;
    top: 12px;
    height: 2px;
    min-height: 2px;
    width: 100%;
    border-radius: 2px;
    transition: all 0.4s ease;
  }

  span::before, span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    min-height: 2px;
    content: "";
    border-radius: 2px;
    transition: all 0.4s ease;
  }

  span::before {
    top: -8px;
  }

  span::after {
    bottom: -8px;
  }

  span:before {
    transition: all 0.4s ease;
    left: auto;
    right: 0;
    width: 50%;
  }

  span:after {
    transition: all 0.4s ease;
    left: auto;
    right: 0;
    width: 75%;
  }

  &:hover span:after, &:hover span:before {
    width: 100%;
    transition: all 0.4s ease;
  }

  &:hover span:after, &:hover span:before {
    width: 100%;
    transition: all 0.4s ease;
  }

  &.active span:before {
    transition: all 0.4s ease;
    left: 0;
    right: auto;
    width: 50%;
  }

  &.active span:after {
    transition: all 0.4s ease;
    left: 0;
    right: auto;
    width: 75%;
  }

  span {
    background: #4e4c5f;
  }

  span::before, span::after {
    background: #4e4c5f;
  }

  &:hover span {
    background: #5d78ff;
  }

  &:hover span::before, &:hover span::after {
    background: #5d78ff;
  }

  &.active span {
    background: #5d78ff;
  }

  &.active span::before, &.active span::after {
    background: #5d78ff;
  }
}