.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #1d71b1;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 10px rgba(16, 42, 63, 0.12);
  }

  & > i {
    font-size: 19px;

    &:before {
      color: #fff;
    }
  }
}

.button-notification {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 6px rgba(13, 42, 64, 0.15);
  color: #3c3c3c;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  padding-top: 2px;
  vertical-align: text-bottom;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  margin-bottom: 20px;

  .custom-select {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .custom-select__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
    background-color: #f3f3f3;
    border-radius: 24px;
    color: #999;
    font-size: 15px;
    line-height: 16px;

    @media (max-width: 768px) {
      padding-left: 15px;
    }
  }

  .custom-options {
    display: block;
    position: absolute;
    z-index: 2;
    top: 100%;
    right: 0;
    left: 0;
    padding: 20px 50px 10px 20px;
    transition: all 0.5s;
    box-shadow: 0 12px 25px rgba(22, 58, 86, 0.12);
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .custom-option {
    display: block;
    position: relative;
    transition: all 0.5s;
    color: #3d3d3d;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .custom-option:hover {
    cursor: pointer;
    color: #1d71b1;
  }

  .custom-option.selected {
  }

  .arrow {
    position: relative;
    width: 10px;
    height: 10px;
  }

  .arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
  }

  .arrow::before {
    left: -3px;
    transform: rotate(45deg);
    background-color: #ccc;
  }

  .arrow::after {
    left: 3px;
    transform: rotate(-45deg);
    background-color: #ccc;
  }

  .open .arrow::before {
    left: -3px;
    transform: rotate(-45deg);
  }

  .open .arrow::after {
    left: 3px;
    transform: rotate(45deg);
  }
}

.slider {
  height: 100%;

  .swiper-button {
    position: absolute;
    z-index: 9999;
    width: 50px;
    height: 34px;
    bottom: 0;
    cursor: pointer;

    &.swiper-button-prev {
      left: 0;
      background: url(../../img/svg/arrow.svg) no-repeat;
    }

    &.swiper-button-next {
      right: 0;
      background: url(../../img/svg/arrow.svg) no-repeat;
      transform: rotate(200grad);
    }
  }
}

.tooltip {
  position: absolute;
  z-index: 1;
  width: 110px;
  padding: 15px 0;
  visibility: hidden;
  background-color: #ffffff;
  box-shadow: 0 2px 15px rgba(232, 83, 45, 0.25);
  color: #3d3d3d;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 58px;
    left: 40%;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}

.t {
  position: absolute;
  z-index: 1;
  width: 180px;
  padding: 15px 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
  color: #3d3d3d;
  font-size: 12px;
  line-height: 14px;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 45%;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
  }
}

.tick {
  & > li {
    padding-left: 2rem;
    background-image: url("../../img/svg/tick.svg");
    background-position: 0 0;
    background-size: 1.4rem 1.4rem;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    line-height: 23px;
  }
}

.round {
  margin-bottom: 20px;

  & > li {
    position: relative;

    &:before {
      content: "\002B24";
      font-size: 5px;
      margin-right: 10px;
      vertical-align: middle;
      color: #6db4fe;
    }
  }
}

.card-article {
  background-color: #f5f6f8;

  &__header {
    position: relative;

    img {
      width: 100%;
    }

    &-date {
      position: absolute;
      top: 0;
      right: 0;
      width: 70px;
      background-color: #f7562e;
      color: #ffffff;
      text-align: center;
      font-size: 13px;
      line-height: 14px;
      padding: 8px;

      & .day {
        font-size: 24px;
      }
    }
  }

  &__body {
    padding: 25px 30px;

    & .hr {
      display: block;
      width: 40px;
      height: 2px;
      background-color: #f7562e;
    }

    &-title {
      display: block;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      color: #000000;
      margin-bottom: 15px;

      &:hover {
        color: #f7562e;
      }
    }

    &-description {
      color: #3c3c3c;
      line-height: 22px;
      margin-top: 15px;
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  background-color: #e9f4fd;
  color: #3c3c3c;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 30px;

  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
  }

  .closebtn {
    position: absolute;
    top: 5px;
    right: 10px;
    transition: 0.3s;
    color: #ccc;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  button {
    width: 250px;

    @media (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      margin-top: 10px;
    }
  }

  &.red {
    justify-content: center;
    font-size: 18px;
    text-align: center;
    background-color: rgba(#f7562e, 0.05);
  }
}

.circle-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  user-select: none;
  margin-bottom: 20px;

  .checkmark:after {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' height='18px' viewBox='0 -46 417.81333 417' width='18px'%3E%3Cg%3E%3Cpath d='m159.988281 318.582031c-3.988281 4.011719-9.429687 6.25-15.082031 6.25s-11.09375-2.238281-15.082031-6.25l-120.449219-120.46875c-12.5-12.5-12.5-32.769531 0-45.246093l15.082031-15.085938c12.503907-12.5 32.75-12.5 45.25 0l75.199219 75.203125 203.199219-203.203125c12.503906-12.5 32.769531-12.5 45.25 0l15.082031 15.085938c12.5 12.5 12.5 32.765624 0 45.246093zm0 0' data-original='%23000000' class='active-path' data-old_color='%23000000' fill='%23208ABD'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: none;
    position: absolute;
  }

  & input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
  }

  & .checkmark {
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 100%;
  }

  &:hover input ~ .checkmark {
    border-color: #ccc;
  }

  & input:checked ~ .checkmark {
    border-color: #ccc;
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    bottom: -3px;
    left: 3px;
  }
}

.result-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 30px;

  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 20px;
  }
}

.type-search {
  display: flex;
  flex-direction: column;
}

.sale {
  display: flex;
  align-items: center;

  .percent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #73ba04;
    border-radius: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }

  .text {
    padding-left: 10px;
    padding-right: 20px;
  }
}

.card-shadow {
  box-shadow: 0 10px 40px rgba(10, 43, 74, 0.07);
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 25px;

  .result-title {
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0;
  }

  .provider, .teacher {
    display: flex;

    margin-bottom: 20px;

    img {
      width: 40px;
      height: 40px;
      margin-right: 20px;
      object-fit: cover;
    }

    a {
      color: #1d71b1;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      text-decoration: underline;
    }
  }

  .cert {
    img {
      width: 177px;
      height: 100%;
      margin-top: 10px;
    }
  }

  .text {
    position: relative;
    z-index: 1;

    span {
      display: block;
    }

    i {
      position: absolute;
      z-index: -1;
      left: -13px;
      font-size: 22px;

      &:before {
        color: #dae4ec;
      }
    }
  }
}

.price-old {
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-decoration-color: #f92e25;
}

.price-new {
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
  }
  font-size: 20px;
  font-weight: 900;
  line-height: 18px;
  color: #f92e25;
}

.price-text {
  @media (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
  }
  font-size: 20px;
  font-weight: 900;
  line-height: 18px;
  color: #3c3c3c;
}

.rating {
  @media (min-width: 320px) and (max-width: 767px) {
    margin-top: 20px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-top: 20px;
  }
  display: flex;
  align-items: center;

  .minus-block, .plus-block {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .minus-block, .plus-block {
    margin-left: 15px;
  }

  .minus-block {
    color: #f92e25;
  }

  .plus-block {
    color: #6db4fe;
  }
}

.rating-block {
  margin-top: 20px;

  h4 {
    font-weight: 400;
  }
}


.delete-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 50px !important;

  .buttons-deactivate {
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    width: 100%;

    button {
      width: 100px;
      margin-bottom: 0 !important;
    }
  }
}

.block-modal {
  justify-content: space-between;
  margin-bottom: 20px;

  .text {
    text-align: left;
  }
}

.modal-review, .modal-pay, .modal-money, .answer-modal {
  .modal-content {
    @media (min-width: 320px) and (max-width: 767px) {
      width: 90%;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      width: 60%;
    }
    @media (min-width: 1024px) {
      width: 370px !important;
    }
    padding-bottom: 40px;
  }
}
