// Content
.content {
  &.program {
    @media (min-width: 320px) and (max-width: 767px) {
      .container {
        width: 100%;
      }
    }
  }

  h2.title {
    text-align: center;
    margin-bottom: 40px;

    &.program {
      @media (min-width: 320px) and (max-width: 767px) {
        font-size: 24px;
        margin-bottom: 20px;
      }
      font-size: 35px;
      line-height: 28px;
    }
  }

  & [class^="main"] {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

// Content and Sidebar
.box {
  @media (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    flex-direction: column;
  }
  display: flex;

  & > &-content {
    @media (min-width: 320px) and (max-width: 767px) {
      order: 2;
      &.show {
        .col-lg-12 {
          padding-right: 3%;
          padding-left: 3%;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      order: 2;
      &.show {
        .col-lg-12 {
          padding-right: 3%;
          padding-left: 3%;
        }
      }
    }
    flex: 1 1 70%;

    &.faq {
      flex: 1 1 65%;
    }
  }

  & > &-sidebar {
    @media (min-width: 320px) and (max-width: 767px) {
      display: none;
      order: 1;
      &.show {
        display: flex;

        .col-lg-12 {
          padding-left: 0;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      display: none;
      &.show {
        display: flex;

        .col-lg-12 {
          padding-left: 0;
        }
      }
    }
    flex: 1 1 30%;

    &.faq {
      @media (min-width: 320px) and (max-width: 767px) {
        margin-right: 0;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        margin-right: 0;
      }
      flex: 1 1 35%;
      margin-right: 40px;
    }
  }
}

// Page Learn
.learn {
  & > div {
    @media (min-width: 320px) and (max-width: 767px) {
      padding-left: inherit;
      padding-right: inherit;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    text-align: center;
    margin-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;

    img {
      margin-bottom: 20px;
      height: 80px;
    }

    &:not(:nth-child(3n)) {
      @media (min-width: 320px) and (max-width: 767px) {
        border: none;
      }
      border-right: 3px solid rgba(#f2f2f2, .3);
    }
  }
}


.main_favorites {
  .tab {
    &__nav {
      @media (min-width: 320px) and (max-width: 767px) {
        border-bottom: none;
      }
    }
  }
}

