.tab {
  width: 100%;

  .toggle-menu {
    @media (min-width: 320px) and (max-width: 767px) {
      background-color: #f5f6f8;
      padding-bottom: 10px;
      padding-top: 10px;
    }
    background-color: transparent;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    position: relative;

    .icon-down-arrow {
      @media (min-width: 320px) and (max-width: 767px) {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 20px;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        display: flex;
        position: absolute;
        top: 13px;
        right: 20px;
        font-size: 20px;
      }
      display: none;
    }

    ul {
      @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        flex-direction: column;
      }
      display: flex;
      justify-content: center;

      li {
        @media (min-width: 320px) and (max-width: 767px) {
          display: none;
          padding-right: 10px;
          padding-left: 20px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          display: none;
          padding-right: 10px;
          padding-left: 20px;
        }
        display: flex;
        align-items: center;
        padding: 2px 40px;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;

        &.show {
          display: flex;
        }

        &:not(:first-child) {

          @media (min-width: 320px) and (max-width: 767px) {
            border: none;
            padding-left: 20px;
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            border: none;
            padding-left: 20px;
          }
          border-left: none;
        }

        &.active {
          @media (min-width: 320px) and (max-width: 767px) {
            display: flex;
            background-color: transparent;
            border-color: transparent;
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            display: flex;
            background-color: transparent;
            border-color: transparent;
          }
          background-color: transparent;

          i {
            font-size: 20px;

            &:before {
              @media (min-width: 320px) and (max-width: 767px) {
                color: #f7562e;
              }
              @media (min-width: 768px) and (max-width: 1023px) {
                color: #f7562e;
              }
              color: #fff;
            }
          }

          a {
            @media (min-width: 320px) and (max-width: 767px) {
              color: #f7562e;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
              color: #f7562e;
            }
            color: #fff;
          }
        }

        i {
          margin-right: 10px;

          &:before {
            color: #3c3c3c;
          }
        }

        a {
          color: #3c3c3c;
        }
      }
    }
  }

  &__nav {
    border-bottom: 1px solid #838383;
    margin-bottom: 40px;
    position: relative;

    & .nav {
      @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: column;
        width: 100%;
        padding: 0;
      }
      display: flex;
      justify-content: space-between;
      padding-left: 65px;
      padding-right: 65px;
      margin-bottom: -1px;
      z-index: 0;

      &-item {
        @media (min-width: 320px) and (max-width: 767px) {
          display: none;
        }
        z-index: 1;
        padding: 15px;
        font-weight: 700;
        font-size: 14px;
        color: #3c3c3c;
        line-height: 18px;
        cursor: pointer;
      }

      &-item.active {
        @media (min-width: 320px) and (max-width: 767px) {
          display: block;
          width: 100%;
          text-align: center;
          border: none;
        }
        color: #f7562e;
        border-bottom: 3px solid #f7562e;
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;

    .tns-ovh {
      @media (min-width: 320px) and (max-width: 767px) {
        overflow: hidden;
      }
      overflow: visible;
    }

    .tns-item {
      opacity: 0;
    }

    .tns-slide-active {
      opacity: 1;
    }

    &-item {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  &.doted {
    & .nav-doted {
      @media (min-width: 320px) and (max-width: 767px) {
        display: flex;
      }
      display: none;
      justify-content: center;
      position: absolute;
      top: 42px;
      left: 50%;
      width: 120px;
      list-style-type: none;
      background-color: #fff;
      margin-left: -60px;

      &-item {
        width: 10px;
        height: 10px;
        border: 1px solid #838383;
        border-radius: 100%;

        &:not(:last-child) {
          margin-right: 10px;
        }
      }

      &-item.active {
        border: 1px solid #f7562e;
        background-color: #f7562e;
      }
    }
  }

  &.blog {
    & .nav {
      @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: row;
        justify-content: space-between;
        &-item {
          display: flex;
          padding: 0 0 15px;

          &.active {
            text-align: left;
            width: auto;
          }
        }
      }
      padding-left: 0;
      padding-right: 0;
      justify-content: flex-start;
    }
  }
}

.service-container {
  @media (min-width: 1024px) {
    .tab__content-item {
      display: block;
    }
  }
}

.card-catalog {
  width: 100%;
  margin: 0 auto 30px;
  padding: 18px;
  box-shadow: 0 10px 40px rgba(10, 43, 74, 0.07);
  background-color: #ffffff;
  @media (max-width: 768px) {
    padding: 14px;
  }

  &-header {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    @media (max-width: 768px) {
      align-items: flex-start;
    }

    .logo-company {
      margin-right: 35px;

      img {
        width: 70px;
        height: 100%;
        @media (max-width: 768px) {
          width: 52px;
        }
      }
    }

    .title {
      line-height: 22px;

      a {
        color: #3c3c3c;
        font-size: 18px;
        font-weight: 700;
        @media (max-width: 768px) {
          color: #3c3c3c;
          font-size: 16px;
          text-decoration: none;
        }

        &:hover {
          color: #1d71b1;
          text-decoration: underline;
        }
      }
    }
  }

  &-content {
    p {
      color: #3c3c3c;
      font-size: 15px;
      line-height: 22px;
      padding-top: 15px;
    }
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .category {
      font-size: 14px;
      line-height: 22px;

      span {
        font-weight: 700;
      }

      a {
        position: relative;
        text-decoration: underline;
        color: #1d71b1;
        font-size: 14px;

        &:not(:last-child) {
          &:after {
            content: ",";
          }
        }
      }
    }

    .send {
      display: flex;
      @media (max-width: 768px) {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .send-email {
        margin-right: 20px;
      }

      .send-email, .add-provider-favorites, .add-favorites {
        display: flex;
        align-items: center;
        color: #90a4ae;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        cursor: pointer;

        span {
          text-decoration: underline;
          white-space: pre;
        }

        &.active {
          color: #3c3c3c;

          i {
            &:before {
              color: #f92e25;
            }
          }
        }
      }

      i {
        font-size: 25px;
        margin-right: 10px;
        text-decoration: none;
      }
    }
  }
}

.service {
  @media (min-width: 320px) and (max-width: 767px) {
    .container {
      width: 100%;
    }
  }
  @media (min-width: 320px) and (max-width: 767px) {
    padding-top: 40px;
  }
  position: relative;
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(to top, rgba(#072140, .88), rgba(#1b52a5, .88), rgba(#1684b9, .88)),
  url("../../img/how-work__bg.png");
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 80px;

  .control {
    display: none;
  }

  h2 {
    color: #fff;
  }

  &-container {
    @media (min-width: 320px) and (max-width: 767px) {
      margin-top: 40px;
    }
    @media (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
      margin-bottom: 60px;
      .control {
        display: flex;
        margin-bottom: 30px;

        .title-text {
          font-size: 17px;
          line-height: 22px;
          color: rgba(#fff, .5);
        }

        .left-block, .right-block {
          width: 50%;
          padding: 13px 35px;
          background-color: rgba(#8ac3fe, .15);
        }

        .left-block.active {
          background-color: rgba(#8ac3fe, .4);

          .title-text {
            color: rgba(#fff, 1);
          }
        }

        .right-block.active {
          background-color: rgba(#8ac3fe, .4);

          .title-text {
            color: rgba(#fff, 1);
          }
        }
      }
      & .left.active, .right.active {
        display: block;
      }
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      flex-direction: column;
      margin-bottom: 60px;
      .control {
        display: flex;
        margin-bottom: 30px;

        .title-text {
          font-size: 17px;
          line-height: 22px;
          color: rgba(#fff, .5);
        }

        .left-block, .right-block {
          width: 50%;
          padding: 13px 35px;
          background-color: rgba(#8ac3fe, .15);
        }

        .left-block.active {
          background-color: rgba(#8ac3fe, .4);

          .title-text {
            color: rgba(#fff, 1);
          }
        }

        .right-block.active {
          background-color: rgba(#8ac3fe, .4);

          .title-text {
            color: rgba(#fff, 1);
          }
        }
      }
      & .left.active, .right.active {
        display: block;
      }
    }
    display: flex;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 90px;

    .content {
      .tick {
        color: #ffffff;
        line-height: 24px;
        font-size: 17px;
      }

      .btn-container {
        width: 270px;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }

    & .left, .right {
      width: 50%;
      border-left: 3px dotted rgba(#fff, 0.3);
      padding-left: 80px;
      padding-right: 80px;
      @media (max-width: 768px) {
        display: none;
        width: 100%;
        border: none;
        padding: 0 15px;
      }
    }

    & .left {
      .btn-container {
        margin-top: 60px;
        @media (max-width: 768px) {
          margin-top: 0;
        }
      }
    }

    & .right {
      border-right: 3px dotted rgba(#fff, 0.3);
    }

    & .title {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      @media (max-width: 768px) {
        display: none;
      }
    }

    & .title-text {
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;
      color: #ffffff;
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 22px;
      }
    }

    & .title-icon {
      display: block;
      width: 75px;
      height: 75px;
      margin-right: 30px;
      @media (max-width: 768px) {
        display: none;
      }
    }

    & .title-icon.knowledge {
      background: url("../../img/knowledge.png");
    }

    & .title-icon.school {
      background: url("../../img/school.png");
    }
  }
}

.blog-single {
  .tns-controls {
    @media (min-width: 768px) and (max-width: 1023px) {
      width: 100%;
    }
    bottom: 0;
    width: 89%;
  }
}

.articles {
  .col-sm-4 {
    position: relative;
  }

  .tns-controls {
    bottom: 0;
    width: 100%;
    height: 100%;

    button[data-controls="next"] {
      @media (max-width: 768px) {
        right: 0;
        bottom: -10%;
      }
    }

    button[data-controls="prev"] {
      @media (max-width: 768px) {
        bottom: -10%;
        left: 0;
      }
    }
  }
}

.form-filter {
  & .filter-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    display: block;
    margin-bottom: 20px;
  }

  & .format {
    display: flex;
    flex-direction: column;
  }

  & .practice {
    margin-bottom: 20px;

    .practice-container {
      display: flex;
      align-items: center;

      .input {
        width: 60px;
        margin-bottom: 0;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 15px;
      }
    }
  }

  & .city {
    .current-city {
      strong {
        color: #1d71b1;
      }
    }

    span {
      color: #1d71b1;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  & .rating {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  & .category, .rating, .format, .practice, .price, .city {
    margin-top: 30px;
  }

  & .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 25px;
    margin-top: 25px;

    .button-red {
      width: 140px;
    }

    a {
      color: #999999;
      text-decoration: underline;
    }
  }
}

.authors {
  .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 25px;
    margin-bottom: 0 !important;
    text-align: left !important;
  }

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    padding-top: 25px;

    .avatar {
      display: flex;

      .index {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        background-color: #f7562e;
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        color: #ffffff;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    .name {
      margin-left: 15px;
      line-height: 20px;

      a {
        color: #1d71b1;
        font-size: 16px;
        text-decoration: underline;
      }
    }

    .count {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      padding: 5px;
      border-radius: 100%;
      background-color: #6db4fe;
      font-size: 13px;
      color: #ffffff;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }

  &.mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
    }
  }
}

.mobile-filter {
  @media (min-width: 320px) and (max-width: 767px) {
    display: block;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    display: block;
  }
  display: none;
  margin-bottom: 20px;
  box-shadow: 0 5px 20px rgba(10, 43, 74, 0.05);

  &-header {
    background-color: #e9f4fd;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    padding-bottom: 10px;
    position: relative;

    i {
      position: absolute;
      right: 20px;
      font-size: 25px;
    }
  }

  &-content {
    display: none;
    padding: 15px;

    &.active {
      display: block;
    }
  }
}

.blog-description {
  position: relative;
  height: 100%;
  background-color: #1d71b1;
  color: #fff;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;

  .top {
    display: flex;
    justify-content: space-between;

    .date {
      display: flex;
    }

    i {
      font-size: 24px;
      cursor: pointer;

      &.active {
        &:before {
          color: #f92e25;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 14px;
    line-height: 18px;

    .view-block {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;

      .views, .comments {
        display: flex;
      }
    }

    a {
      color: #fff;
      text-decoration: underline;
    }
  }

  .share {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 30px;
    background-color: #1a5ca7;

    ul {
      display: flex;

      li {
        margin-left: 15px;
      }
    }
  }
}

.blog-content {
  .alert {
    @media (min-width: 768px) and (max-width: 1023px) {
      flex-direction: column;
    }
  }

  .text {
    margin-top: 25px;
    margin-bottom: 25px;

    span {
      text-decoration: underline;
    }
  }

  .share {
    @media (min-width: 320px) and (max-width: 767px) {
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;
    }
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }
}

.social {
  display: flex;

  li {
    margin-left: 15px;
  }
}

.comments {
  .delete-comment {
    color: #f92e25 !important;
  }

  .tab {
    .nav {
      @media (min-width: 320px) and (max-width: 767px) {
        flex-direction: row;
        justify-content: space-around;
        li {
          display: block;
          margin-right: 0;

          &.active {
            width: auto;
            border-bottom: 3px solid #f7562e;
          }
        }
      }
      justify-content: flex-start;
      padding: 0;

      li {
        font-weight: 400;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
        margin-right: 20px;
      }
    }

    &__nav {
      margin-bottom: 20px;
    }
  }

  &-body {
    .information {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 20px;

      .top {
        @media (min-width: 320px) and (max-width: 767px) {
          .d-flex {
            flex-direction: column;
            margin-top: 0;
          }
        }

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .name {
          font-weight: 700;
          font-size: 16px;
          line-height: 20.01px;
        }

        .date {
          color: #999999;
          font-size: 14px;
          font-weight: 400;
          line-height: 20.01px;
        }
      }

      .comment {
        @media (min-width: 320px) and (max-width: 767px) {
          padding-left: 0;
          margin-top: 10px;
        }
        padding-left: 64px;
        margin-top: -15px;

        .text {
          margin: 0;
        }

        .text {
          font-size: 16px;
        }

        .rules {
          @media (min-width: 1024px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rating {
              .minus-block, .plus-block {
                .minus, .plus {
                  &:after {
                    top: -7px;
                  }
                }
              }
            }
          }
          @media (min-width: 320px) and (max-width: 767px) {
            .rating {
              justify-content: center;

              .minus-block, .plus-block {
                .minus, .plus {
                  &:after {
                    top: -7px;
                    left: 5px;
                  }
                }
              }
            }
          }
          margin-top: 10px;

          a {
            font-size: 14px;
            text-decoration: underline;
            color: #1d71b1;

            &:not(:last-child) {
              margin-right: 20px;
            }

            &.delete {
              color: #f92e25;
            }
          }
        }
      }

      img {
        @media (min-width: 320px) and (max-width: 767px) {
          width: 40px;
          height: 40px;
        }
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 13px;
      }
    }

    .answer {
      @media (min-width: 320px) and (max-width: 767px) {
        margin-left: 30px;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        margin-left: 30px;
      }
      margin-left: 60px;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .send-comment {
      margin-top: 40px;

      .button-blue {
        width: 120px;
      }
    }

    & > .answer {
      border-bottom: 1px solid #ccc;
    }
  }
}

.faq {
  .card-shadow {
    max-height: 700px;
    overflow: hidden;
    padding: 0 0;

    .head {
      padding: 20px 25px 0;
    }
  }

  .faq-menu {
    max-height: 500px;
    overflow: scroll;
    margin-top: 10px;

    ul {
      li {
        position: relative;
        padding: 10px 25px;
        cursor: pointer;

        &.active {
          color: #1d71b1;

          &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20%;
            height: 100%;
            background-color: rgba(#6db4fe, .3);
          }
        }

        &:not(:last-child) {
        }
      }
    }
  }
}

.toggle-menu {
  @media (min-width: 320px) and (max-width: 767px) {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: flex-start;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: flex-start;
  }
  background-color: #f5f6f8;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;

  .icon-down-arrow {
    @media (min-width: 320px) and (max-width: 767px) {
      display: flex;
      position: absolute;
      top: 13px;
      right: 20px;
      font-size: 20px;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      display: flex;
      position: absolute;
      top: 13px;
      right: 20px;
      font-size: 20px;
    }
    display: none;
  }

  ul {
    @media (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      flex-direction: column;
    }
    display: flex;
    justify-content: center;

    &.provide {
      li {
        padding: 2px 20px;
      }
    }

    li {
      @media (min-width: 320px) and (max-width: 767px) {
        display: none;
        padding-right: 10px;
        padding-left: 20px;
      }
      @media (min-width: 768px) and (max-width: 1023px) {
        display: none;
        padding-right: 10px;
        padding-left: 20px;
      }
      display: flex;
      align-items: center;
      padding: 2px 40px;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px;

      &.show {
        display: flex;
      }

      &:not(:first-child) {

        @media (min-width: 320px) and (max-width: 767px) {
          border: none;
          padding-left: 20px;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          border: none;
          padding-left: 20px;
        }
        border-left: 1px solid #ccc;
      }

      &.active {
        @media (min-width: 320px) and (max-width: 767px) {
          display: flex;
          background-color: transparent;
          border-color: transparent;
        }
        @media (min-width: 768px) and (max-width: 1023px) {
          display: flex;
          background-color: transparent;
          border-color: transparent;
        }
        background-color: #f7562e;
        border-color: #f7562e;

        i {
          font-size: 20px;

          &:before {
            @media (min-width: 320px) and (max-width: 767px) {
              color: #f7562e;
            }
            @media (min-width: 768px) and (max-width: 1023px) {
              color: #f7562e;
            }
            color: #fff;
          }
        }

        a {
          @media (min-width: 320px) and (max-width: 767px) {
            color: #f7562e;
          }
          @media (min-width: 768px) and (max-width: 1023px) {
            color: #f7562e;
          }
          color: #fff;
        }
      }

      i {
        margin-right: 10px;

        &:before {
          color: #3c3c3c;
        }
      }

      a {
        color: #3c3c3c;
      }
    }
  }
}
