.container {
  padding: 20px 0 55px 0;

  .categroies {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .category-select {
      width: 31%;
    }
  }

  .field-container {
    margin-top: 25px;
  }

  .input-container {
    margin-top: 36px;
  }

}
