.modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 99999999;
  transition: opacity .15s ease-in-out;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }

  .error {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: #f7562e;
  }

  .modal-content {
    position: relative;
    width: 370px;
    margin: 5% auto;
    background-color: #ffffff;
    text-align: center;

    @media (min-width: 320px) and (max-width: 767px) {
      margin: 12% auto;
    }

    @media (max-width: 768px) {
      width: 90%;
    }

    &.width {
      width: 568px;
    }

    .content {
      padding: 30px 30px;

      @media (max-width: 768px) {
        padding: 20px 20px 0;
      }
    }

    h4 {
      font-size: 22px;
      color: #000000;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 15px;

      @media (max-width: 768px) {
        font-size: 20px;
      }
    }

    button:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  & .close {
    position: absolute;
    top: -27px;
    right: 0;
    font-size: 48px;
    font-weight: normal;
    color: #f7562e;

    &:hover, &:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}