<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <meta name="description" content="">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<h1>test</h1>
</body>
</html>
