<button id="auth-modal-button" type="button">Авторизация</button>

<div id="auth-modal" class="modal">
  <div class="modal-content">
    <p>Some text in the Modal Body</p>
    <p>Some other text...</p>
  </div>
</div>
