<div class="header-container">
  <div class="wrap">
    {% if not app.user %}
      {{ renderLoginForm() }}
    {% else %}
      <a href="{{ path('ajax.auth.logout') }}">Выход</a>
    {% endif %}
  </div>
</div>
