<div id="auth-modal" class="modal">
  <div class="modal-content auth-form">
    <h6>Вход на сайт</h6>
    <form method="post" class="modal-form">
      <div class="auth-form-raw">
        <input type="email" value="" name="email" id="email" required autofocus placeholder="E-mail">
      </div>
      <div class="auth-form-raw">
        <input type="password" name="password" id="password" required placeholder="Пароль">
      </div>
      <button type="submit">Войти</button>
      <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </form>
    <div class="auth-form-social">
      {% for link in socialLinks %}
        <a href="{{ link }}">Social auth</a>
      {% endfor %}
    </div>
  </div>
</div>
