button.close-modal {
  cursor: pointer;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  outline: none;
  background: url(../../../img/close.svg) no-repeat;
}


input[type="submit"] {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  width: 280px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  line-height: 36px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

input[type="submit"].btn__style {
  border-radius: 25px;
  background-image: linear-gradient(0deg, #fb5519 0%, #f9453f 100%);
}

input[type="submit"].btn__style-blue {
  border-radius: 25px;
  background-image: linear-gradient(0deg, #1f81b9 0%, #195da7 100%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background: rgba(#000000, 0.4);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 370px;
  max-height: 540px;
  background-color: #fff;
  cursor: default;
  padding: 30px 0px 0px 0px;
}

.close-modal {
  position: absolute;
  top: -25px;
  right: -30px;
}

.modal-content {
  text-align: center;
  padding: 15px 0px 0px 0px;

  &__title {
    font-size: 26px;
    line-height: 24px;
    color: #000000;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    text-align: center;
    padding-bottom: 15px;
  }

  &__fields {
    padding-bottom: 25px;
  }

  &__field {
    padding: 10px;
    font-size: 14px;
    line-height: 16px;
    color: #888888;
    font-family: "Lato", sans-serif;
    font-weight: 400;

    a {
      color: #f7562e;
      font-size: 14px;
      line-height: 16px;
      font-family: "Lato", sans-serif;
      font-weight: 400;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

    .modal__registr {
      font-size: 15px;
      line-height: 16px;
      color: #436c8d;
      font-family: "Lato", sans-serif;
      font-weight: 400;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }

    }
  }

  .modal-content__forget {
    padding: 30px 30px 0px 30px;
  }

  .modal-content__descr {
    font-size: 13px;
    line-height: 15px;
    color: #888;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;

    a {
      color: #1d71b1;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }

  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 280px;
    height: 48px;
    border-radius: 24px;
    background-color: #f3f3f3;
    border: none;
    padding-left: 25px;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  textarea {
    width: 280px;
    border: none;
    height: 120px;
    border-radius: 24px;
    background-color: #f3f3f3;
    padding-left: 25px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  ::placeholder {
    color: #3d3d3d;
  }

  :-ms-input-placeholder {
    color: #3d3d3d;
  }

  ::-ms-input-placeholder {
    color: #3d3d3d;
  }
}

input[type="checkbox"] {
  display: none;
}

.modal-content__checkbox {
  display: block;
  margin-top: 10px;
}

.modal-content__checkbox label {
  font-size: 15px;
  line-height: 16px;
  color: #3d3d3d;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  position: relative;
}

.modal-content__checkbox label:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #1d71b1;
  left: -20px;
  bottom: 0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.modal-content__checkbox .checkmark:after {
  left: -20px;
  top: 1px;
  width: 15px;
  height: 15px;
  background: url(../../../img/check.svg) no-repeat;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

.modal-content__body {
  background-color: #e9f1f7;
  padding-bottom: 30px;

  .modal-content__social-title {
    font-size: 15px;
    line-height: 16px;
    color: #3d3d3d;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: center;
    padding: 10px 0px;
  }

  .modal-content__social-items {
    display: flex;
    padding-left: 15px;
    flex-direction: row nowrap;
    justify-content: center;
    list-style: none;
  }

  .modal-content__social-link {
    display: block;
  }

  .modal-content__social-vk {
    width: 50px;
    height: 50px;
    background: url(../../../img/024-vk.svg) no-repeat;
  }

  .modal-content__social-ok {
    width: 50px;
    height: 50px;
    background: url(../../../img/021-odnoklassniki.svg) no-repeat;
  }

  .modal-content__social-fc {
    width: 50px;
    height: 50px;
    background: url(../../../img/022-facebook.svg) no-repeat;
  }

  .modal-content__social-plus {
    width: 50px;
    height: 50px;
    background: url(../../../img/023-google-plus.svg) no-repeat;
  }
}

.modal_4 .form__modal {
  padding: 25px;
}

.modal_4 .modal-dialog {
  max-width: 370px;
}

#city-selector-modal .close-modal {
  top: 5px;
}

#city-selector-modal .modal-dialog {
  width: 1024px;
  max-width: 1024px;
  height: 700px;
  min-height: 650px;
  min-width: 300px;
  overflow-y: auto;
}

#city-selector-modal .modal-content__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
}

#city-selector-modal .modal-content__cities {
  border-bottom: 1px solid #e9f1f7;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#city-selector-modal .modal-content__city a {
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  padding: 5px;
}

#city-selector-modal .modal-content__region a {
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-decoration: none;
  padding: 5px;
}

#city-selector-modal .modal-content__city a:hover {
  cursor: pointer;
  color: #f7562e;
}

#city-selector-modal .modal-content__region a:hover {
  cursor: pointer;
  color: #f7562e;
}

#city-selector-modal .modal-content__descr {
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  color: #3d3d3d;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

#city-selector-modal .modal-content__descr a {
  text-decoration: none;
}

#city-selector-modal .modal-content__descr a:hover {
  cursor: pointer;
  opacity: 0.8;
}

#city-selector-modal .modal-content__body {
  padding: 20px 0px;
}

#city-selector-modal .modal-content__fields {
  margin-bottom: -10px;
  padding-bottom: 0px;
}

#city-selector-modal input[type="text"] {
  width: 905px;
  height: 48px;
  border-radius: 24px;
  background-color: #f3f3f3;
}


#city-selector-modal input[type="text"]::-webkit-input-placeholder {
  /* Edge */
  color: #1d71b1;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#city-selector-modal input[type="text"] :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #1d71b1;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#city-selector-modal input[type="text"] ::-moz-placeholder {
  color: #1d71b1;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#city-selector-modal input[type="text"] ::-ms-input-placeholder {
  color: #1d71b1;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#city-selector-modal input[type="text"] ::placeholder {
  color: #1d71b1;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

#city-selector-modal .header__search-field {
  position: relative;
}

#city-selector-modal .header__search-field input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  border: 0;
}

#city-selector-modal .header__search-field .header__search-input_submit {
  position: absolute;
  right: 45px;
  top: 15px;
  background: url(../../../img/011-search.svg) no-repeat;
  width: 16px;
  height: 20px;
}