<div class="banner__home">
  <div class="main-nav">
    <div class="container">
      <div class="main-nav-wrap">
        {#        <button class="main-menu-mobile"><span class="main-menu-icon"></span>Меню</button>#}
        <div class="main-nav-list" id="mobile__list-mnu">
          <a class="main-nav-link" href="#">Для провайдеров обучения</a>
          <a class="main-nav-link" href="#">Для желающих обучаться</a>
          <a class="main-nav-link" href="#">Программы обучения</a>
          <a class="main-nav-link" href="#">Провайдеры обучения</a>
          <a class="main-nav-link" href="#">Блог</a>
        </div>
        <a class="main-nav-add-program" href="#">Добавить программу</a>
      </div>
    </div>
  </div>

  <div class="main-banner-content">
    <div class="container">
      <h1>
        <span class="main-banner-title">SkillGrad</span> - агрегатор провайдеров обучения и образовательных программ
        дополнительного
        профессионального образования
      </h1>
      <form action="#" method="get">
        <input type="text" name="search" value="" placeholder="Чтобы вы хотели изучить?"/>
        <input type="submit" value=""/>
      </form>
    </div>
  </div>

  <div class="main-banner-footer">
    <div class="container main-banner-footer-items">
      <div class="main-banner-footer-item">
        <div class="main-banner-footer-img">
          <img src="/img/main/stationery.svg"/>
        </div>
        <div class="main-banner-footer-text">Гигантский выбор высокопрофессиональных программ обучения по более чем 30
          направлениям!
        </div>
      </div>
      <div class="main-banner-footer-item">
        <div class="main-banner-footer-img">
          <img src="/img/main/feedback.svg"/>
        </div>
        <div class="main-banner-footer-text">Доступность информации и развернутые оценки обучившихся не дадут ошибиться в
          выборе и гарантируют качественный результат
        </div>
      </div>
      <div class="main-banner-footer-item">
        <div class="main-banner-footer-img">
          <img src="/img/main/case-study.svg"/>
        </div>
        <div class="main-banner-footer-text">Расширенный поиск и умная система фильтров позволяют легко и быстро находить
          нужную программу обучения
        </div>
      </div>
    </div>
  </div>
</div>
