<div class="blog">
  <div class="container">
    <div class="title-main"> Статьи</div>
    <div class="blog-wrapper">
      <div class="blog-items" id="sliderBlog">
        <div class="blog-item">
          <a class="blog-item__photo" href="#"> <img src="/img/blog_1.png" alt="Photo"/></a>
          <div class="blog-item__main">
            <div class="blog-item__main-date"><span class="date">22</span>сентября</div>
            <a class="blog-item__title" href="#">Как не сдаться в карантин?<br/>5 советов ученикам, учителям и
              родителям</a>
            <div class="blog-item__desc">До 12 апреля (а может, и дольше) все школы перешли на дистанционное обучение.
              Некоторые до этого не...
            </div>
          </div>
        </div>
        <div class="blog-item">
          <a class="blog-item__photo" href="#"><img src="/img/blog_2.png" alt="Photo"/></a>
          <div class="blog-item__main">
            <div class="blog-item__main-date"><span class="date">22</span>сентября</div>
            <a class="blog-item__title" href="#">Как не сдаться в карантин?<br/> 5 советов ученикам, учителям и
              родителям</a>
            <div class="blog-item__desc">До 12 апреля (а может, и дольше) все школы перешли на дистанционное обучение.
              Некоторые до этого не...
            </div>
          </div>
        </div>
        <div class="blog-item">
          <a class="blog-item__photo" href="#"><img src="/img/blog_3.png" alt="Photo"/></a>
          <div class="blog-item__main">
            <div class="blog-item__main-date"><span class="date">22</span>сентября</div>
            <a class="blog-item__title" href="#">Как не сдаться в карантин?<br/> 5 советов ученикам, учителям и
              родителям</a>
            <div class="blog-item__desc">До 12 апреля (а может, и дольше) все школы перешли на дистанционное обучение.
              Некоторые до этого не...
            </div>
          </div>
        </div>
      </div>
      <div class="blog-btn-container">
        <a class="btn btn-blue" href="#">Перейти в Блог </a></div>
    </div>
  </div>
</div>
