<div class="how-work">
  <div class="container">
    <h1 class="how-work__title">Как работает сервис?</h1>
    <div class="how-work__list">
      <div class="how-work__info-mobile">
        <div class="how-work__info-title how-work__info-school is-active tabWork-1" data-tab-name="tabWork-1">Для
          желающих обучиться
        </div>
        <div class="how-work__info-title how-work__info-provaider tabWork-2" data-tab-name="tabWork-2">Для провайдеров
          обучения
        </div>
      </div>
      <div class="how-work__info is-active tabWork-1">
        <div class="how-work__info-title how-work__info-school">Для желающих обучиться</div>
        <ul class="how-work__info-items">
          <li class="how-work__info-item">Подберите программу обучения, используя поиск, фильтры, сравнение</li>
          <li class="how-work__info-item">Направьте заявку провайдеру обучения</li>
          <li class="how-work__info-item">Зарегистрируйтесь. Вы сможете писать отзывы, задавать вопросы</li>
        </ul>
        <a class="btn btn__popup how-work-register-user-btn">Регистрация обучающегося</a></div>
      <div class="how-work__info tabWork-2">
        <div class="how-work__info-title how-work__info-provaider">Для провайдеров обучения</div>
        <ul class="how-work__info-items">
          <li class="how-work__info-item">Зарегистрируйтесь</li>
          <li class="how-work__info-item">Добавьте описание вашей организации</li>
          <li class="how-work__info-item">Добавьте программы обучения</li>
          <li class="how-work__info-item">Отвечайте на отзывы</li>
          <li class="how-work__info-item">Получайте заявки</li>
        </ul>
        <a class="btn btn__popup how-work-register-provider-btn">Регистрация провайдера</a></div>
    </div>
  </div>
</div>
