<div class="study-content__cards slider__wrapper study-slider" id="slider-{{ id }}">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="study-content__card slider__item ">
        <div class="study-content__card-head">
          <div class="study-content__card-head-title"><span class="study-content__card-head-icon"></span>Центр
            компьютерного обучения «Специалист» при МГТУ им. Н.Э. Баумана<span class="card-discount"></span>
          </div>
        </div>
        <div class="study-content__card-body"><a class="study-content__card-title" href="#">Правовое обеспечение
            национальной безопасности</a>
          <div class="study-content__card-desc">Как провести анализ и выявить проблемы существующей системы
            вознаграждения персонала (проблемы в управлении, мотив....
          </div>
          <div class="study-content__card-info">
            <div class="study-content__card-form">Очная,заочная, дистанционная</div>
            <div class="study-content__card-length">5 месяцев</div>
            <div class="study-content__card-rating">0</div>
          </div>
          <div class="study-content__card-buy">
            <div class="study-content__card-price">
              <div class="study-content__card-price-old"><span>140 000 p.</span></div>
              <div class="study-content__card-price-current">124 000 p.</div>
            </div>
            <a class="study-content__card-button btn" href="#">Заказать</a>
            <div class="study-content__card-compare"><span class="tooltiptext">Добавить в сравнение</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
