<div id="pay-service" className="pay-service modal">
  <div className="modal-content">
    <span className="close">&times;</span>
    <div className="content">
      <h4>Выберите платную услугу</h4>
      <div className="block-modal d-flex">
        <p className="text"><strong>Выделить цветом</strong> <br/> на 30 дней</p>
        <button className="button-b">Купить за 990 руб</button>
      </div>
      <div className="block-modal d-flex">
        <p className="text"><strong>Однократно поднять</strong> <br/> в результатах поиска</p>
        <button className="button-b">Купить за 490 руб</button>
      </div>
      <div className="block-modal d-flex">
        <p className="text"><strong>Выделить цветом +</strong> <br/> <strong>Однократно поднять</strong></p>
        <button className="button-r">Купить за 490 руб</button>
      </div>
    </div>
  </div>
</div>
<div id="deactivate" className="deactivate modal">
  <div className="modal-content">
    <span className="close">&times;</span>
    <div className="content delete-modal">
      <p className="text--center">
        Программ будет деактивирована и не видна пользователям
      </p>
      <p className="text--center">Она будет доступна во вкладке «Неактивные программы»</p>
      <div className="buttons-deactivate d-flex">
        <button className="button-red">Деактивировать программу</button>
      </div>
    </div>
  </div>
</div>
<div id="delete" className="deactivate modal">
  <div className="modal-content">
    <span className="close">&times;</span>
    <div className="content delete-modal">
      <p className="text--center">
        Вы хотите удалить данную программу без возможности восстановления?
      </p>
      <div className="buttons d-flex">
        <button className="button-blue">Нет</button>
        <button className="button-red">Да</button>
      </div>
    </div>
  </div>
</div>
<div id="no-balance" className="deactivate modal">
  <div className="modal-content">
    <span className="close">&times;</span>
    <div className="content delete-modal">
      <p className="text--center">
        На вашем счете недостаточно средств, пополните баланс
      </p>
      <div className="buttons-deactivate d-flex">
        <button className="button-blue">Пополнить баланс</button>
      </div>
    </div>
  </div>
</div>